@import url("https://fonts.googleapis.com/css2?family=K2D&display=swap");

@font-face {
  font-family: fonts;
  src: url(../fonts/fonts/ttf/OtomanopeeOne-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Back to btn Start */
html {
  scroll-behavior: smooth;
}

.back-button {
  outline: 2px solid var(--item-color);
  outline-offset: 4px;
  border-radius: 3px;
  align-items: center;
  padding: 10px 10px 15px 10px;
  z-index: 9999;
  position: fixed;
  background-color: var(--item-color);
  border-radius: px;
  height: 40px;
  bottom: 25px;
  right: 25px;
  text-decoration: none;
  align-items: center;
  line-height: 50px;
}
.back-button img {
  margin-bottom: 50px;
}
/* Back to btn End */

:root {
  --box-shadow: 0 0 10px hsl(0, 0%, 0%, 0.15);
  --primary-font: fonts;
  --secondary-font: K2D;
  --border-and-color: 1px solid rgba(38, 160, 218, 1);
  --text-color-black: black;
  --background-color: rgba(38, 160, 218, 1);
  --text-color-white: rgba(255, 255, 255, 1);
  --text-color-blue: rgba(38, 160, 218, 1);
  --item-color: rgba(255, 184, 0, 1);
  --shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
}

/* Hero Start */
#hero {
  background: rgba(187, 229, 255, 1);
}

.hero-wrapper {
  position: relative;
}

.hero-content {
  position: relative;
}

.hero-shape {
  position: absolute;
  width: 150px;
}

.hero-shape img {
  width: 100%;
  margin-top: 10PX;
  margin-bottom: 10PX;
}

.hero-shape-1 {
  bottom: 0;
  left: 0;
}

.hero-shape-2 {
  top: 0;
  right: 0;
}

.hero-content {
  padding: 100px 0;
}

.hero-title h1 {
  font-size: 70px;
  font-family: var(--primary-font);
  text-align: center;
}

.HOME{
  font-family: var(--secondary-font);
  text-decoration: none;
  font-size: 22px;
  color: var(--text-color-black);
  margin-top: 10px;

}
.HOME:hover{
  color: var(--text-color-black);
}
.ABOUT{
    color: var(--background-color);
    font-family: var(--secondary-font);
    text-decoration: none;
    font-size: 22px;
}

@media screen and (max-width: 992px) {
  .hero-shape{
    width: 90px !important;
    display: block;
  }
  .hero-title h1 {
    font-size: 50px;
  }

}
@media screen and (max-width: 600px) {
  .hero-shape{
    width: 60px !important;
    display: block;
  }
  .hero-title h1 {
    font-size: 40px;
  }

}
/* Hero Start */


/* About Us Start */
#about-us {
  padding: 100px 12px 110px 12px;
  text-align: center !important;
}
#about-us .about-heading h1{
  font-size: 40px;
  font-family: var(--primary-font);
  
}
#about-us .about-heading h1 span{
  color: var(--item-color);
  
}
#about-us .about-heading p{
  font-size: 18px;
  font-family: var(--secondary-font);
  
}

.about-heading .bottom-border {
  margin: 0px 580px;
  border-bottom: 2px solid #26a0da;
}

.about-heading .bottom-border2 {
  margin: 5px 600px 0px 600px;
  border-bottom: 2px solid #26a0da;
}
/* About Us End */



/* Achevement Start */
#achievement{
  padding: 0px 0px 100px 0px;
}

#achievement .achevement-item img{
  width: 60px;
}
#achievement .achevement-item .item{
  align-items: center;
}
#achievement .achevement-item h1{
  font-size: 22px;
  padding-left: 20px;
  font-family: var(--primary-font);
}
#achievement .achevement-item p{
  font-size: 18px;
  padding: 20px 0px 40px 0px;
  font-family: var(--secondary-font);
}
/* Achevement End */



/* Provide service Start */
#service{
  padding: 100px 0px 110px 0px;
  text-align: center !important;
}
#service .service-heading {
  padding-bottom: 100px;
  
}
#service .service-heading h1{
  font-size: 40px;
  font-family: var(--primary-font);
  
}
#service .service-heading h1 span{
  color: var(--item-color);
  
}
#service .service-heading h1{
  
  
}
#service .service-heading p{
  font-size: 18px;
  font-family: var(--secondary-font);
  
}


.service-heading .bottom-border {
 
  border-bottom: 2px solid #26a0da;
}

/* .service-heading .bottom-border2 {
 
  border-bottom: 2px solid #26a0da;
} */
/* Provide service Start End */

#service .service-item{
  padding: 50px 50px;
}
#service .service-item h1{
  font-family: var(--primary-font);
  font-size: 25px;
}
#service .service-item h1 span{
  color: var(--item-color);
}
#service .service-item p{
  font-family: var(--secondary-font);
  font-size: 18px;
}
#service .success{
  border-radius: 10px;
  padding: 48px 60px;
  text-align: left;
  border: 1px solid rgb(60, 194, 247);
}
#service .success .border{
  width: 100%;
  height: 2px;
  margin: 0px 35px;
}

#service .success .success-item:hover .count h1{
  background: #26a0da;
  color: var(--text-color-white);
}
#service .success .count h1{
  transition: all 0.3s ease;
  color: var(--text-color-black);
  padding: 5px 20px 5px 20px;
  border-radius: 5px;
}
#service .success .success-title{
  margin-top: 10px;
  margin-left: 40px;
}
#service .success .success-item{
  margin-top: 20px;
}
#service .success .success-title h1{
  padding-bottom: 15px;
  font-size: 25px;
  font-family: var(--primary-font);
}
#service .success .success-title p{
  padding-bottom: 20px;
  font-size: 18px;
  font-family: var(--secondary-font);
}