@import url("https://fonts.googleapis.com/css2?family=K2D&display=swap");

@font-face {
  font-family: fonts;
  src: url(../fonts/fonts/ttf/OtomanopeeOne-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Back to btn Start */
html {
  scroll-behavior: smooth;
}

.back-button {
  outline: 2px solid var(--item-color);
  outline-offset: 4px;
  border-radius: 3px;
  align-items: center;
  padding: 10px 10px 15px 10px;
  z-index: 9999;
  position: fixed;
  background-color: var(--item-color);
  border-radius: px;
  height: 40px;
  bottom: 25px;
  right: 25px;
  text-decoration: none;
  align-items: center;
  line-height: 50px;
}
.back-button img {
  margin-bottom: 50px;
}
/* Back to btn End */

/* Variable */
:root {
  --box-shadow: 0 0 10px hsl(0, 0%, 0%, 0.15);
  --primary-font: fonts;
  --secondary-font: K2D;
  --border-and-color: 1px solid rgba(38, 160, 218, 1);
  --text-color-black: black;
  --background-color: rgba(38, 160, 218, 1);
  --text-color-white: rgba(255, 255, 255, 1);
  --text-color-blue: rgba(38, 160, 218, 1);
  --item-color: rgba(255, 184, 0, 1);
  --shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
}

/* Hero Start */
#hero {
  background: rgba(187, 229, 255, 1);
}

.hero-wrapper {
  position: relative;
}

.hero-content {
  position: relative;
}

.hero-shape {
  position: absolute;
  width: 150px;
}

.hero-shape img {
  width: 100%;
  margin-top: 10PX;
  margin-bottom: 10PX;
}

.hero-shape-1 {
  bottom: 0;
  left: 0;
}

.hero-shape-2 {
  top: 0;
  right: 0;
}

.hero-content {
  padding: 100px 0;
}

.hero-title h1 {
  font-size: 70px;
  font-family: var(--primary-font);
  text-align: center;
}

.HOME{
  font-family: var(--secondary-font);
  text-decoration: none;
  font-size: 22px;
  color: var(--text-color-black);
  margin-top: 10px;

}

.HOME:hover{
  color: var(--text-color-black);
}

.BLOG{
    color: var(--background-color);
    text-decoration: none;
    font-size: 22px;
}


@media screen and (max-width: 992px) {
  .hero-shape{
    width: 90px !important;
    display: block;
  }
  .hero-title h1 {
    font-size: 50px;
  }

}

@media screen and (max-width: 600px) {
  .hero-shape{
    width: 60px !important;
    display: block;
  }
  .hero-title h1 {
    font-size: 40px;
  }
  .bredcome a {
    font-size: 18px !important;
  }

}

/* Hero End */

