@import url("https://fonts.googleapis.com/css2?family=K2D&display=swap");

@font-face {
  font-family: fonts;
  src: url(../fonts/fonts/ttf/OtomanopeeOne-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Scrollbar Start */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(38, 160, 218, 1);
  border-radius: 10px;
}
/* Scrollbar End */

/* Back to btn Start */
html {
  scroll-behavior: smooth;
}

#progress {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 70px;
  width: 70px;
  display: none;
  place-items: center;
  border-radius: 8%;
  cursor: pointer;
  z-index: 9999999999999;
}

#progress-value {
  display: block;
  height: calc(100% - 12px);
  width: calc(100% - 12px);
  background-color: var(--item-color);
  border-radius: 8%;
  display: grid;
  place-items: center;
  font-size: 35px;
  border: 3px solid rgba(236, 236, 236, 0.601);
}
/* Back to btn End */

/* Variable */
:root {
  --box-shadow: 0 0 10px hsl(0, 0%, 0%, 0.15);
  --primary-font: fonts;
  --secondary-font: K2D;
  --border-and-color: 1px solid rgba(38, 160, 218, 1);
  --text-color-black: black;
  --background-color: rgba(38, 160, 218, 1);
  --text-color-white: rgba(255, 255, 255, 1);
  --text-color-blue: rgba(38, 160, 218, 1);
  --item-color: rgba(255, 184, 0, 1);
  --shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
}

/* Hero Start */
#hero {
  background: rgba(187, 229, 255, 1);
}

.hero-wrapper {
  position: relative;
}

.hero-content {
  position: relative;
}

.hero-shape {
  position: absolute;
  width: 150px;
}

.hero-shape img {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.hero-shape-1 {
  bottom: 0;
  left: 0;
}

.hero-shape-2 {
  top: 0;
  right: 0;
}

.hero-content {
  padding: 100px 0;
}

.hero-title h1 {
  font-size: 70px;
  font-family: var(--primary-font);
  text-align: center;
}

.bredcome {
  padding-top: 5px;
  padding-bottom: 100px;
}

.HOME {
  font-family: var(--secondary-font);
  text-decoration: none;
  font-size: 22px;
  color: var(--text-color-black);
  margin-top: 10px;
}

.HOME:hover {
  color: var(--text-color-black);
}

.BLOG {
  color: var(--text-color-black);
  text-decoration: none;
  font-size: 22px;
}

.BLOG:hover {
  color: var(--text-color-black);
}
.EXPLORE {
  text-decoration: none;
  font-size: 22px;
  color: var(--text-color-blue);
}

@media screen and (max-width: 992px) {
  .hero-shape {
    width: 90px !important;
    display: block;
  }

  .hero-title h1 {
    font-size: 50px;
  }
}

@media screen and (max-width: 600px) {
  .hero-shape {
    width: 60px !important;
    display: block;
  }

  .hero-title h1 {
    font-size: 40px;
  }

  .bredcome a {
    font-size: 18px !important;
  }
}
/* Hero End */

/* Explore Start */
#blog-explore .blog-post {
  padding: 0px 0px 30px 0px;
}

#blog-explore .blog-post .post-img1 img {
  width: 100%;
}

#blog-explore .blog-post .post-heading {
  padding: 50px 0px 0px 0px;
}

#blog-explore .blog-post .post-heading .calender {
  border: var(--border-and-color);
  text-align: center;
  border-radius: 5px;
  height: 115px;
  padding: 10px 15px;
}

#blog-explore .blog-post .post-heading .calender h1 {
  font-family: var(--primary-font);
  font-size: 42px;
}

#blog-explore .blog-post .post-heading .calender p {
  font-family: var(--secondary-font);
  font-size: 18px;
  text-wrap: nowrap;
  color: var(--text-color-blue);
}

#blog-explore .blog-post .post-heading .heading {
  font-family: var(--primary-font);
  padding: 0px 0px 0px 30px;
}

#blog-explore .blog-post .post-heading .heading p {
  font-family: var(--secondary-font);
  padding: 20px 0px 0px 0px;
  color: rgba(124, 137, 146, 1);
  font-size: 16px;
}

#blog-explore .blog-post .post-heading .heading span {
  font-family: var(--secondary-font);
  color: rgba(124, 137, 146, 1);
  font-size: 18px;
  padding-left: 10px;
}

#blog-explore .blog-post .post-heading .heading h1 {
  font-family: var(--primary-font);
  font-size: 25px;
}

#blog-explore .blog-post .post-heading .contact {
  display: flex;
  padding: 10px 0px 0px 0px;
  margin-top: 10px;
}

#blog-explore .blog-post .post-heading .contact a {
  text-decoration: none;
}

#blog-explore .blog-post .post-heading .contact .admin {
  padding-right: 20px;
  padding: 0px 50px 0px 0px;
}

#blog-explore .explore-img {
  display: flex;
  width: 100%;
  gap: 10px;
  padding: 30px 0;
}

#blog-explore .explore-img img {
  width: 100%;
}

#blog-explore .more {
  font-family: var(--secondary-font);
  font-size: 16px;
  color: #7c8992;
  padding-left: 150px;
}

/* Explore slider Start */

#blog-explore .explore-slider .swiper {
  position: relative;
  display: flex !important;
  align-items: center;
  width: 100% !important;
  margin: 0px 0px 0px 0px !important;
  overflow: hidden;
}

#blog-explore .explore-slider .swiper-wrapper {
  display: flex !important;
  align-items: center;
}

#blog-explore .explore-slider .swiper-wrapper .swiper-slide {
  border-top: 1px solid #a8bbc7;
  border-bottom: 1px solid #a8bbc7;
  width: 100% !important;
  background-color: var(--text-color-white);
  border-left: none;
  border-right: none;
  overflow: hidden;
}

#blog-explore .explore-slider .swiper-slide .slide-item {
  display: flex !important;
  align-items: center;
  margin: 50px 100px;
  width: 660px !important;
}

#blog-explore .explore-slider .card img {
  width: 230px;
}

#blog-explore .explore-slider .card .slider-heading {
  padding-left: 20px;
}

#blog-explore .explore-slider .card .slider-heading h1 {
  font-family: var(--primary-font);
  font-size: 24px;
  padding-bottom: 15px;
}

#blog-explore .explore-slider .card .slider-heading span {
  font-family: var(--secondary-font);
  font-size: 20px;
  padding: 0px 30px 0px 10px;
  color: rgba(124, 137, 146, 1);
}

#blog-explore .swiper-navBtns {
  display: flex;
  justify-content: center !important;
}

#blog-explore .next-btn {
  position: relative;
  border: var(--border-and-color);
  width: 55px;
  height: 55px;
  padding: 10px 10px 10px 10px;
  border-radius: 4px;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
  margin-left: -30px !important;
}

#blog-explore .next-btn:hover {
  background: #26a0da;
}

#blog-explore .swiper-button-next:hover svg path {
  fill: var(--text-color-white) !important;
}

#blog-explore .next-btn::before {
  content: "";
  position: absolute;
  height: 100px !important;
  width: 15px !important;
  background: rgba(255, 255, 255, 0.815);
  filter: blur(2px);
  opacity: 0.8;
  top: -20px;
  right: 14px;
  transition: 1.5s;
  transform: rotate(-10deg) translateX(40px);
}

#blog-explore .next-btn:hover:before {
  transform: rotate(-10deg) translate(-60px, -10px);
}

#blog-explore .next-btn::after {
  content: "";
  position: absolute;
  height: 100px !important;
  width: 8px !important;
  background: rgba(255, 255, 255, 0.815);
  filter: blur(2px) !important;
  opacity: 0.8;
  filter: blur(1px);
  top: -20px;
  right: 0px;
  transition: 1.5s;
  transform: rotate(-10deg) translateX(40px);
}

#blog-explore .next-btn:hover::after {
  transform: rotate(-10deg) translate(-60px, -10px);
}

#blog-explore .prev-btn {
  position: relative;
  border: var(--border-and-color);
  width: 55px;
  height: 55px;
  padding: 10px 10px 10px 10px;
  border-radius: 4px;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
  margin-right: -30px !important;
}

#blog-explore .prev-btn:hover {
  background: #26a0da;
}

#blog-explore .swiper-button-prev:hover svg path {
  fill: var(--text-color-white) !important;
}

/* #blog-explore .prev-btn {
  width: 40px !important;
  height: 40px !important;
} */

#blog-explore .prev-btn::before {
  content: "";
  position: absolute;
  height: 100px !important;
  width: 15px !important;
  background: rgba(255, 255, 255, 0.815);
  filter: blur(2px) !important;
  opacity: 0.8;
  top: -20px;
  left: 12px;
  transition: 1.5s;
  transform: rotate(10deg) translateX(-40px);
}

#blog-explore .prev-btn:hover:before {
  transform: rotate(10deg) translate(60px, -10px);
}

#blog-explore .prev-btn::after {
  content: "";
  position: absolute;
  height: 100px !important;
  width: 8px !important;
  background: rgba(255, 255, 255, 0.815);
  filter: blur(2px) !important;
  opacity: 0.8;
  filter: blur(1px);
  top: -20px;
  left: 0px;
  transition: 1.5s;
  transform: rotate(10deg) translateX(-40px);
}

#blog-explore .prev-btn:hover::after {
  transform: rotate(10deg) translate(60px, -10px);
}

#blog-explore .swiper-button-prev::after {
  display: none;
}

#blog-explore .swiper-button-next::after {
  display: none;
}

@media screen and (max-width: 1400px) {
  #blog-explore .explore-slider .card img {
    width: 140px !important;
  }

  #blog-explore .explore-slider .card .slider-heading h1 {
    font-size: 16px;
    padding-bottom: 5px;
  }

  #blog-explore .explore-slider .card .slider-heading svg {
    width: 22px;
  }

  #blog-explore .explore-slider .card .slider-heading span {
    font-size: 18px;
  }
}

@media screen and (max-width: 1200px) {
  #blog-explore .explore-slider .card img {
    width: 140px !important;
  }

  #blog-explore .explore-slider .card .slider-heading h1 {
    font-size: 16px;
    padding-bottom: 5px;
  }

  #blog-explore .explore-slider .card .slider-heading svg {
    width: 22px;
  }

  #blog-explore .explore-slider .card .slider-heading span {
    font-size: 18px;
    padding: 0px 10px 0px 5px;
  }

  #blog-explore .more {
    padding-left: 140px;
  }
}

@media screen and (max-width: 768px) {
  #blog-explore .blog-post .post-heading .heading {
    padding: 0px 0px 0px 15px;
  }

  #blog-explore .explore-slider .card img {
    width: 100px !important;
  }

  #blog-explore .explore-slider .card .slider-heading h1 {
    font-size: 12px;
    padding-bottom: 0px;
  }

  #blog-explore .explore-slider .card .slider-heading svg {
    width: 18px;
  }

  #blog-explore .explore-slider .card .slider-heading span {
    font-size: 12px;
    padding: 0px 10px 0px 5px;
  }

  #blog-explore .explore-img {
    display: block;
    width: 100%;
    gap: 10px;
    padding: 0px 0px;
    margin-top: 20px;
  }

  #blog-explore .explore-img img {
    margin-top: 20px;
  }

  #blog-explore .more {
    padding: 20px 10px 0px 0px !important ;
  }
}

@media screen and (max-width: 800px) {
  #blog-explore .more {
    padding-left: 140px;
  }
}

@media screen and (max-width: 540px) {
  #blog-explore .swiper-navBtns img {
    width: 30px !important;
  }

  #blog-explore .swiper-navBtns .next-btn {
    width: 30px;
    height: 30px;
    padding: 5px;
    right: -20px !important;
    display: flex;
    justify-content: center;
  }
  #blog-explore .swiper-navBtns .prev-btn {
    width: 30px;
    height: 30px;
    padding: 5px;
    display: flex;
    left: -20px !important;
    justify-content: center;
  }
}

@media screen and (max-width: 540px) {
  #blog-explore .more {
    padding-left: 110px;
  }

  #blog-explore .explore-slider .card img {
    width: 80px !important;
  }

  #blog-explore .explore-slider .card .slider-heading h1 {
    margin: 0px 0px 0px 0px;
    font-size: 8px;
    padding-bottom: 0px;
  }

  #blog-explore .explore-slider .card .slider-heading svg {
    width: 12px;
  }

  #blog-explore .explore-slider .card .slider-heading span {
    font-size: 8px;
    padding: 0px 5px 0px 5px;
  }

  #blog-explore .explore-slider .swiper-slide .slide-item {
    margin: 30px 80px !important;
  }
}

@media screen and (max-width: 410px) {
  #blog-explore .explore-slider .swiper-slide .slide-item {
    margin: 30px 50px !important;
  }
}
/* Exploren slider End */

/* Comment Start */
#blog-explore .comment {
  padding-top: 100px;
}

#blog-explore .comment h1 {
  font-size: 42px;
  padding-bottom: 20px;
  font-family: var(--primary-font);
}

#blog-explore .comment .comment-item-box {
  display: flex;
  justify-content: space-between;
}

#blog-explore .comment .profile {
  display: flex;
}

#blog-explore .comment .profile .profile-heading {
  padding: 10px 0px 0px 20px;
}

#blog-explore .comment .profile .profile-heading h2 {
  font-family: var(--primary-font);
  font-size: 25px;
}

#blog-explore .comment .profile .profile-heading a {
  text-decoration: none;
}

#blog-explore .comment .profile .profile-heading span {
  font-family: var(--secondary-font);
  font-size: 18px;
  color: rgba(124, 137, 146, 1);
}

#blog-explore .comment .profile img {
  width: 90px;
}

#blog-explore .comment .comment-item-box .reply {
  position: relative;
  margin-top: 10px;
  text-align: center;
}

#blog-explore .comment .comment-item-box .reply a {
  position: absolute;
  right: 0px;
  border: var(--border-and-color);
  font-size: 20px;
  font-family: var(--secondary-font);
  padding: 9px 25px;
  border-radius: 5px;
  text-decoration: none;
  color: var(--text-color-blue);
  transition: 0.4s;
  overflow: hidden;
  text-wrap: nowrap;
}

#blog-explore .comment .comment-item-box .reply a:hover {
  background: var(--background-color);
  color: var(--text-color-white);
}
#blog-explore .comment .comment-item-box .reply a:hover svg path {
  fill: white !important;
}

#blog-explore .comment .comment-item-box .reply a::before {
  content: "";
  position: absolute;
  height: 140px !important;
  width: 25px !important;
  background: rgba(255, 255, 255, 0.815);
  filter: blur(2px) !important;
  opacity: 0.8;
  top: -55px;
  left: 0px;
  transition: 1.5s;
  transform: rotate(20deg) translateX(-40px);
}

#blog-explore .comment .comment-item-box .reply a:hover:before {
  transform: rotate(20deg) translate(220px, -30px);
}

#blog-explore .comment .comment-item-box .reply a::after {
  content: "";
  position: absolute;
  height: 140px !important;
  width: 15px !important;
  background: rgba(255, 255, 255, 0.815);
  filter: blur(2px) !important;
  opacity: 0.8;
  top: -55px;
  left: -20px;
  transition: 1.5s;
  transform: rotate(20deg) translateX(-40px);
}

#blog-explore .comment .comment-item-box .reply a:hover::after {
  transform: rotate(20deg) translate(220px, -30px);
}

#blog-explore .comment p {
  font-family: var(--secondary-font);
  font-size: 18px;
  color: rgba(124, 137, 146, 1);
  padding-right: 20px;
  margin: 20px 0;
}

#blog-explore .comment .like {
  gap: 20px;
  cursor: pointer;
  margin-bottom: 50px;
}

@media screen and (max-width: 500px) {
  #blog-explore .comment {
    padding-top: 0px;
  }
}

@media screen and (max-width: 500px) {
  #blog-explore .comment h1 {
    font-size: 35px;
  }

  #blog-explore .comment .profile .profile-heading h2 {
    font-size: 20px;
  }

  #blog-explore .comment .profile .profile-heading {
    padding: 0px 0px 0px 10px;
  }

  #blog-explore .comment .profile .profile-heading span {
    font-size: 14px;
  }

  #blog-explore .comment .comment-item-box a svg {
    width: 25px;
  }

  #blog-explore .comment .profile img {
    width: 60px;
    aspect-ratio: 1/1;
  }

  #blog-explore .comment .comment-item-box .reply a {
    padding: 4px 20px;
  }
}

@media screen and (max-width: 400px) {
  #blog-explore .comment h1 {
    font-size: 30px;
  }

  #blog-explore .comment .profile .profile-heading h2 {
    font-size: 18px;
  }

  #blog-explore .comment .profile .profile-heading {
    padding: 0px 0px 0px 10px;
  }

  #blog-explore .comment .profile .profile-heading span {
    font-size: 12px;
  }

  #blog-explore .comment .comment-item-box a svg {
    width: 25px;
  }

  #blog-explore .comment .profile img {
    width: 60px;
    aspect-ratio: 1/1;
  }

  #blog-explore .comment .comment-item-box .reply a {
    font-size: 12px;
    padding: 8px 20px;
  }
}

/* Post Comment Start */
#blog-explore .post-comment {
  margin: 100px 0;
}

#blog-explore .post-comment h1 {
  font-size: 32px;
  padding-bottom: 20px;
  font-family: var(--primary-font);
}

#blog-explore .post-comment textarea {
  font-size: 18px !important;
  font-family: var(--secondary-font) !important;
}

#blog-explore .post-comment textarea {
  width: 100%;
  padding: 10px 0px 100px 20px;
  font-family: var(--secondary-font);
  border-radius: 5px;
}

#blog-explore .post-comment .comment-btn {
}

#blog-explore .post-comment .comment-btn a {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  background: rgba(38, 160, 218, 0.9);
  color: white;
  font-size: 22px;
  font-family: var(--secondary-font);
  padding: 10px 50px !important;
  border-radius: 5px;
  margin-top: 15px;
  transition: 0.3s;
}

#blog-explore .post-comment .comment-btn a:hover {
  background: var(--background-color);
}

#blog-explore .post-comment .comment-btn a::before {
  content: "";
  position: absolute;
  height: 140px !important;
  width: 25px !important;
  background: rgba(255, 255, 255, 0.815);
  filter: blur(2px) !important;
  opacity: 0.8;
  top: -55px;
  left: 0px;
  transition: 1.5s;
  transform: rotate(20deg) translateX(-40px);
}

#blog-explore .post-comment .comment-btn a:hover:before {
  transform: rotate(20deg) translate(220px, -30px);
}

#blog-explore .post-comment .comment-btn a::after {
  content: "";
  position: absolute;
  height: 140px !important;
  width: 15px !important;
  background: rgba(255, 255, 255, 0.815);
  filter: blur(2px) !important;
  opacity: 0.8;
  top: -55px;
  left: -20px;
  transition: 1.5s;
  transform: rotate(20deg) translateX(-40px);
}

#blog-explore .post-comment .comment-btn a:hover::after {
  transform: rotate(20deg) translate(220px, -30px);
}
/* Post Comment End */

/* categories Start */
#blog-explore .categories {
  border: 1px solid rgba(168, 187, 199, 1);
  border-radius: 10px;
  padding: 25px 0;
}

#blog-explore .categories-heading {
  font-family: var(--primary-font);
  margin: auto;
  display: flex;
  justify-content: center !important;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

#blog-explore .categories-heading h1 {
  font-size: 32px;
}

#blog-explore .categories-heading .bottom-border {
  margin: 0px 30px;
  border-bottom: 1px solid #26a0da;
}

#blog-explore .categories-heading .bottom-border2 {
  margin: 5px 50px 10px 50px;
  border-bottom: 1px solid #26a0da;
}

#blog-explore .categories-item {
  text-align: center;
}

#blog-explore .categories-item li {
  list-style: none;
  line-height: 54px;
}

#blog-explore .categories-item li a {
  text-decoration: none;
  font-size: 25px;
  color: var(--text-color-black);
  font-weight: 500;
  transition: all 0.3s ease;
}

#blog-explore .categories-item .slider-item a {
  font-size: 22px !important;
}

#blog-explore .categories-item li a:hover {
  color: var(--text-color-blue);
}

#blog-explore .categories {
  position: relative;
}

#blog-explore .categories-item {
  height: 320px;
}

#blog-explore .categories-next {
  position: absolute;
  left: 46.5% !important;
  top: 93% !important;
}

#blog-explore .swiper-button-next:hover svg path {
  fill: #26a0da !important;
}

#blog-explore .swiper {
  margin-top: 25px !important;

  width: 50%;
  height: 268px;
}

#blog-explore .slider-item {
  font-size: 22px;
  font-family: var(--secondary-font);
  height: 40px !important;
  text-align: center;
  font-size: 18px;
  justify-content: center;
  align-items: center;
}

#blog-explore .slider-item a {
  font-size: 20px;
  text-decoration: none;
  color: var(--text-color-black);
  transition: all 0.3s ease;
}

#blog-explore .slider-item a:hover {
  color: var(--text-color-blue);
}

#blog-explore .swiper-button-next::after {
  display: none !important;
}
/* Categories End */

/* Recent Post Start */
#blog-explore .recent-post {
  border: 1px solid #a8bbc7;
  border-radius: 10px;
  margin-top: 40px;
  padding: 30px;
}

#blog-explore .recent-heading {
  font-family: var(--primary-font);
  margin: auto;
  display: flex;
  justify-content: center !important;
  align-items: center;
  text-align: center;
  overflow: hidden;
  padding-bottom: 10px;
}

#blog-explore .recent-heading h1 {
  font-size: 32px;
}

#blog-explore .recent-heading .bottom-border {
  margin: 0px 30px;
  border-bottom: 1px solid #26a0da;
}

#blog-explore .recent-heading .bottom-border2 {
  margin: 5px 50px 10px 50px;
  border-bottom: 1px solid #26a0da;
}

#blog-explore .recent-post-item {
  width: 100%;
}

#blog-explore .recent-post-item img {
  width: 35%;
}

#blog-explore .recent-item {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

#blog-explore .recent-item a {
  font-size: 22px;
  text-decoration: none;
  font-family: var(--primary-font);
  color: var(--text-color-black);
  padding-left: 20px;
  transition: all 0.3s ease;
}

#blog-explore .recent-item a:hover {
  color: var(--text-color-blue);
}

@media screen and (max-width: 1200px) {
  #blog-explore .recent-item a {
    font-size: 14px;
  }
}

@media screen and (max-width: 992px) {
  #blog-explore .recent-item a {
    font-size: 19px;
  }
}

@media screen and (max-width: 400px) {
  #blog-explore .recent-item a {
    font-size: 16px;
  }
}
/* Recent Post End */

/* Tags Start */
#blog-explore .tags {
  border: 1px solid #a8bbc7;
  border-radius: 10px;
  margin-top: 40px;
  padding: 30px;
}

#blog-explore .tag-heading {
  font-family: var(--primary-font);
  margin: auto;
  display: flex;
  justify-content: center !important;
  align-items: center;
  text-align: center;
  overflow: hidden;
  padding-bottom: 20px;
}

#blog-explore .tag-heading h1 {
  font-size: 30px;
}

#blog-explore .tag-heading .bottom-border {
  margin: 0px 30px;
  border-bottom: 1px solid #26a0da;
}

#blog-explore .tag-heading .bottom-border2 {
  margin: 5px 50px 10px 50px;
  border-bottom: 1px solid #26a0da;
}

#blog-explore .tags .tag-items .item {
  display: flex;
  justify-content: space-around;
}

#blog-explore .tags .tag-items .item a {
  font-family: var(--secondary-font);
  text-decoration: none;
  font-size: 22px;
  color: var(--text-color-black);
  font-weight: 500;
  padding: 10px 20px !important;
  transition: all 0.5s ease;
  border: 1px solid white;
  margin-bottom: 20px;
  font-weight: 600;
}

#blog-explore .tags .tag-items .item a:hover {
  border: var(--border-and-color);
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  color: var(--text-color-blue);
}

@media screen and (max-width: 1400px) {
  #blog-explore .tags .tag-items .item a {
    padding: 10px 10px !important;
    font-size: 20px;
  }
}

@media screen and (max-width: 1200px) {
  #blog-explore .tags .tag-items .item a {
    padding: 8px 8px !important;
    font-size: 16px;
  }

  #blog-explore .tags .tag-items .item2 {
    margin-left: -90px !important;
  }
}

@media screen and (max-width: 992px) {
  #blog-explore .tags .tag-items .item a {
    padding: 8px 8px !important;
    font-size: 22px;
  }

  #blog-explore .tags .tag-items .item2 {
    margin-left: -290px !important;
  }

  #blog-explore .tags {
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 768px) {
  #blog-explore .tags .tag-items .item a {
    padding: 8px 8px !important;
    font-size: 22px;
  }

  #blog-explore .tags .tag-items .item2 {
    margin-left: -190px !important;
  }
}

@media screen and (max-width: 460px) {
  #blog-explore .tags .tag-items .item a {
    padding: 8px 8px !important;
    font-size: 19px;
  }

  #blog-explore .tags .tag-items .item2 {
    margin-left: -120px !important;
  }
}
/* Tags End */

/* responsive */
@media screen and (max-width: 1200px) {
  #blog-explore .blog-post .post-heading .calender {
    height: 95px;
    padding: 10px 15px;
  }

  #blog-explore .blog-post .post-heading .heading h1 {
    font-size: 18px;
  }

  #blog-explore .blog-post .post-heading .calender h1 {
    font-size: 35px;
  }

  #blog-explore .blog-post .post-heading .calender p {
    font-size: 16px;
  }

  #blog-explore .blog-post .post-heading .contact .admin {
    padding-right: 10px;
    padding: 0px 20px 0px 0px;
  }

  #blog-explore .blog-post .post-heading .heading span {
    font-size: 16px;
    padding-left: 5px;
  }

  #blog-explore .blog-post .button a {
    font-size: 16px;
    font-weight: 500;
    padding: 6px 20px;
  }

  #blog-explore .blog-post .post-heading .contact .admin svg {
    width: 25px !important;
  }
}

@media screen and (max-width: 768px) {
  #blog-explore .blog-post .post-heading .calender {
    height: 88px;
    padding: 10px 15px;
  }

  #blog-explore .blog-post .post-heading .heading h1 {
    font-size: 16px;
  }

  #blog-explore .blog-post .post-heading .calender h1 {
    font-size: 35px;
  }

  #blog-explore .blog-post .post-heading .calender p {
    font-size: 14px;
  }

  #blog-explore .blog-post .post-heading .contact .admin {
    padding-right: 5px;
    padding: 0px 15px 0px 0px;
  }

  #blog-explore .blog-post .post-heading .heading span {
    font-size: 14px;
    padding-left: 2px;
  }

  #blog-explore .blog-post .button a {
    font-size: 14px;
    font-weight: 500;
    padding: 6px 20px;
  }

  #blog-explore .blog-post .post-heading .heading p {
    font-size: 14px;
  }
  #blog-explore .blog-post .post-heading .contact {
    padding: 0px 0px 0px 0px !important;
    margin-top: 0px !important
    ;
  }
}

@media screen and (max-width: 540px) {
  #blog-explore .blog-post .post-heading .calender {
    height: 78px;
    padding: 10px 15px;
  }

  #blog-explore .blog-post .post-heading .heading h1 {
    font-size: 14px;
  }

  #blog-explore .blog-post .post-heading .calender h1 {
    font-size: 25px;
  }

  #blog-explore .blog-post .post-heading .calender p {
    font-size: 10px;
  }

  #blog-explore .blog-post .post-heading .contact .admin {
    padding-right: 10px;
    padding: 0px 16px 0px 0px;
  }

  #blog-explore .blog-post .post-heading .heading span {
    font-size: 13px;
    padding-left: 2px;
  }

  #blog-explore .blog-post .button a {
    font-size: 14px;
    font-weight: 400;
    padding: 5px 20px;
  }

  #blog-explore .blog-post .post-heading .heading p {
    font-size: 12px;
  }

  #blog-explore .blog-post .post-heading .contact {
    flex-wrap: wrap;
  }

  #blog-explore .pagination a {
    padding: 4px 12px !important;
    margin: 0 4px;
  }

  #blog-explore .pagination {
    font-size: 16px;
  }
}

@media screen and (max-width: 540px) {
  #blog-explore .pagination a {
    padding: 2px 8px !important;
    margin: 0 4px;
  }

  #blog-explore .pagination {
    font-size: 14px;
  }

  #blog-explore .pagination {
    top: -15px;
  }
}
/* Explore End */
