@import url("https://fonts.googleapis.com/css2?family=K2D&display=swap");

@font-face {
  font-family: fonts;
  src: url(../fonts/fonts/ttf/OtomanopeeOne-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Scrollbar Start */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(38, 160, 218, 1);
  border-radius: 10px;
}
/* Scrollbar End */

/* Back to button Start */
html {
  scroll-behavior: smooth;
}

#progress {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 70px;
  width: 70px;
  display: none;
  place-items: center;
  border-radius: 8%;
  cursor: pointer;
  z-index: 99999999999 !important;
}

#progress-value {
  display: block;
  height: calc(100% - 12px);
  width: calc(100% - 12px);
  background-color: var(--item-color);
  border-radius: 8%;
  display: grid;
  place-items: center;
  font-size: 35px;
  border: 3px solid rgba(236, 236, 236, 0.601);
}

/* Back to button End */

/* Variable */
:root {
  --box-shadow: 0 0 10px hsl(0, 0%, 0%, 0.15);
  --primary-font: fonts;
  --secondary-font: K2D;
  --border-and-color: 1px solid rgba(38, 160, 218, 1);
  --text-color-black: black;
  --background-color: rgba(38, 160, 218, 1);
  --text-color-white: rgba(255, 255, 255, 1);
  --text-color-blue: rgba(38, 160, 218, 1);
  --item-color: rgba(255, 184, 0, 1);
  --shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
}

/* Hero Start */
#hero {
  background: rgba(187, 229, 255, 1);
}

.hero-wrapper {
  position: relative;
}

.hero-content {
  position: relative;
}

.hero-shape {
  position: absolute;
  width: 150px;
}

.hero-shape img {
  width: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.hero-shape-1 {
  top: 0;
  left: 0;
}

.hero-shape-2 {
  display: flex;
  justify-content: end;
  bottom: 0;
  right: 0;
}

.hero-content {
  padding: 100px 0;
}

.hero-title h1 {
  font-size: 70px;
  font-family: var(--primary-font);
  text-align: center;
}

.bredcome {
  padding-top: 5px !important;
}

.bredcome .HOME {
  font-family: var(--secondary-font);
  text-decoration: none;
  font-size: 22px;
  color: var(--text-color-black);
  margin-top: 10px;
}

.HOME:hover {
  color: var(--text-color-black);
}

.bredcome .CONTACT {
  font-family: var(--secondary-font);
  color: var(--background-color);
  margin-top: 10px;
  margin-left: 5px;
  font-size: 22px;
  text-decoration: none;
}

@media screen and (max-width: 992px) {
  .hero-shape {
    width: 90px !important;
    display: block;
  }

  .hero-title h1 {
    font-size: 50px;
  }
}

@media screen and (max-width: 600px) {
  .hero-shape {
    width: 60px !important;
    display: block;
  }

  .hero-title h1 {
    font-size: 40px;
  }

  .bredcome a {
    font-size: 18px !important;
  }
}
/* Hero Start */

/* Check Out Start */
#check-out {
  margin: 80px 0;
}

#check-out .returning-option {
  display: flex;
  align-items: center;
  padding-bottom: 40px;
}

#check-out .returning-option .fa-info {
  border: var(--border-and-color);
  padding: 4px 10px;
  border-radius: 6px;
  margin-right: 10px;
}

#check-out .returning-option h1 {
  font-size: 22px;
  font-family: var(--secondary-font);
  margin-bottom: 0px;
}

#check-out .returning-option h1 a {
  text-decoration: none;
  color: #009a34;
}

#check-out .check-out-system .heading h1 {
  font-size: 32px;
  font-family: var(--primary-font);
}

#check-out .check-out-system .heading h1 span {
  padding-bottom: 8px;
  position: relative;
  border-bottom: var(--border-and-color);
}

#check-out .check-out-system .heading h1 span::before {
  content: "";
  position: absolute;
  width: 40%;
  height: 2px;
  border-bottom: var(--border-and-color);
  bottom: -6px;
}

#check-out .check-out-system form {
  display: grid;
  margin-top: 30px;
}

#check-out .check-out-system form input {
  padding: 12px 0px 12px 20px;
  font-size: 18px;
  font-family: var(--secondary-font);
  border: 1px solid #a8bbc7;
  border-radius: 6px;
  margin-bottom: 20px;
  outline-offset: none;
}

#check-out .check-out-system form input:focus {
  box-shadow: var(--box-shadow);
  border: var(--border-and-color) !important;
  outline-style: none;
}

#check-out .check-out-system form label {
  font-size: 22px;
  font-family: var(--secondary-font);
}

#check-out .check-out-system form label span {
  vertical-align: text-bottom;
  color: #ffb800;
}

#check-out .check-out-system form select {
  width: 100%;
  padding: 12px 0px 12px 20px;
  border-radius: 6px;
  font-size: 18px;
  font-family: var(--secondary-font);
  color: #7c8992;
  border: 1px solid #a8bbc7;
  outline-style: none;
}

#check-out .check-out-system form select:focus {
  box-shadow: var(--box-shadow);
  border: var(--border-and-color) !important;
  outline-style: none;
}

#check-out .check-out-system form textarea {
  font-size: 18px;
  padding: 12px 0px 12px 20px;
  font-family: var(--secondary-font);
  border: 1px solid #a8bbc7;
  border-radius: 6px;
  outline-style: none;
}

#check-out .check-out-system form textarea:focus {
  box-shadow: var(--box-shadow);
  border: var(--border-and-color) !important;
  outline-style: none;
}

#check-out .check-out-system form .form-check {
  display: flex;
  align-items: center;
  margin: 20px 0px 0px 10px;
}

#check-out .check-out-system form .form-check-input {
  font-size: 22px;
  font-family: var(--secondary-font);
  border-radius: 4px;
  padding: 8px;
  margin-top: 20px;
  margin-right: 10px;
}

#check-out .check-out-system .product .product-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

#check-out .check-out-system .product .product-item h1 {
  font-size: 22px;
  font-family: var(--secondary-font);
}
#check-out .check-out-system .product .heading {
  font-size: 32px;
  font-family: var(--primary-font);
  border-bottom: var(--border-and-color);
  padding-bottom: 5px;
  margin-top: 10px;
}

#check-out .check-out-system .product .product-img {
  border: var(--border-and-color);
  padding: 20px;
  border-radius: 6px;
  background-position: center;
}
#check-out .check-out-system .product .product-img img {
  width: 100%;
  background-size: cover;
  background-position: center;
}
#check-out .check-out-system .product .product-img h1 {
  text-align: center;
  font-size: 22px;
  font-family: var(--primary-font);
}
#check-out .check-out-system .chipping-cost {
  margin-top: 20px;
  border-bottom: var(--border-and-color);
}

#check-out .check-out-system .chipping-cost .heading {
  font-size: 32px;
  font-family: var(--primary-font);
  border-bottom: var(--border-and-color);
  padding-bottom: 5px;
  margin-top: 40px;
  margin-bottom: 0px;
}
#check-out .check-out-system .chipping-cost .chipping-item {
  padding: 40px 0;
}
#check-out .check-out-system .chipping-cost .Shipping {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  border: 1px solid #a8bbc7;
  border-radius: 4px;
  padding: 20px 10px;
  transition: 0.3s;
}
#check-out .check-out-system .chipping-cost .Shipping:hover {
  background: var(--background-color);
  color: var(--text-color-white);
}
#check-out .check-out-system .chipping-cost .Shipping:hover span {
  color: var(--text-color-white);
}
#check-out .check-out-system .chipping-cost .Shipping h1 {
  font-size: 22px;
  font-family: var(--secondary-font);
}
#check-out .check-out-system .chipping-cost .Shipping h2 {
  font-size: 30px;
  font-family: var(--primary-font);
}
#check-out .check-out-system .chipping-cost .Shipping span {
  font-size: 18px;
  font-family: var(--secondary-font);
  color: #a8bbc7;
}
#check-out .check-out-system .calculation {
  margin-top: 30px;
}
#check-out .check-out-system .calculation .item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
#check-out .check-out-system .calculation .item h1 {
  font-size: 23px;
  font-family: var(--secondary-font);
  color: #7c8992;
}
#check-out .check-out-system .calculation .item h2 {
  font-size: 23px;
  font-family: var(--secondary-font);
  color: #000000;
}













#check-out .order-summery {
  background: #f2f2f2;
  padding: 25px;
  border-radius: 6px;

}
#check-out .order-summery .apply-cuppon {
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
}
#check-out .order-summery .apply-cuppon input {
  border: 1px solid #7c8992;
  outline: none;
  padding: 15px 20px;
  font-size: 18px;
  font-family: var(--secondary-font);
  border-radius: 4px;
}
#check-out .order-summery .apply-cuppon a {
  outline: none;
  padding: 15px 42px;
  font-size: 18px;
  font-family: var(--secondary-font);
  border-radius: 4px;
  background: var(--background-color);
  color: var(--text-color-white);
  text-decoration: none;
}

#check-out .payment-methode .heading {
  position: relative;
  display: flex;
  justify-content: center;
}
#check-out .payment-methode .heading h2 {
  position: relative;
  font-size: 22px;
  font-family: var(--primary-font);
  border-bottom: var(--border-and-color);
}

#check-out .payment-methode .heading h2::before {
  content: "";
  position: absolute;
  bottom: -5px;
  font-size: 22px;
  margin-top: 8px;
  width: 60%;
  left: 20%;
  height: 1px;
  background: var(--background-color);
}



































.payments form input{
  display: none;
}



.category label{
  /* width: 100%; */
  /* height: 65px; */
  
  padding: 20px;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
}

/* label:nth-child(2), label:nth-child(3){
  margin: 15px 0;
} */


#visa:checked ~ .category .visaMethod,
#mastercard:checked ~ .category .mastercardMethod,
#paypal:checked ~ .category .paypalMethod,
#AMEX:checked ~ .category .amexMethod{
  box-shadow: 0px 0px 0px 1px #6064b6;
}


#visa:checked ~ .category .visaMethod .check,
#mastercard:checked ~ .category .mastercardMethod .check,
#paypal:checked ~ .category .paypalMethod .check,
#AMEX:checked ~ .category .amexMethod .check{
  display: block;
}


label .imgName{
  display: flex;
  /* justify-content: space-between;
   */
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
}

.imgName span{
  /* margin-left: 20px; */
  font-family: Arial, Helvetica, sans-serif;

  position: absolute;
  top: 72%;
  transform: translateY(-72%);
}

.imgName .imgContainer{
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 35%;
  transform: translateY(-35%);
}

img{
  width: 50px;
  height: auto;
}

.visa img{
  width: 80px;
  /* margin-left: 5px; */
}

.mastercard img{
  width: 65px;
}

.paypal img{
  width: 80px;
}

.AMEX img{
  width: 50px;
}

.check{
  display: none;
  position: absolute;
  top: -4px;
  right: -4px;
}

.check i{
  font-size: 18px;
}

/* #check-out .payment-methode .payment-item {
  padding: 25px;
}
#check-out .payment-methode .payment-item .payment-img {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px 10px;
}
#check-out .payment-methode .payment-item .payment-img .image {
  position: relative;
  width: 33.33%;
  padding: 10px;
  margin: 5px 0;
  display: flex;
  justify-content: center;
  border: 1px solid #a8bbc7;
  border-radius: 4px;
}
#check-out .payment-methode .payment-item .payment-img .form-check {
  position: absolute;
  top: 0px;
  left: -24px;
  
  
}
#check-out .payment-methode .payment-item .payment-img .image .form-check-input{
 width: 20px ;
 height: 20px;
 outline: none;
 outline-color: none;
 outline-offset: none;

  
}

#check-out .payment-methode .payment-item .payment-img img {
  width: 80%;
  height: 40px;
  background-size: cover;
} */

@media screen and (max-width: 1400px) {
  #check-out .order-summery .apply-cuppon input {
    padding: 2px 0px 2px 8px;

    font-size: 16px;
  }
  #check-out .order-summery .apply-cuppon a {
    padding: 12px 8px;
    text-wrap: nowrap;
    font-size: 16px;
  }
}
@media screen and (max-width: 992px) {
  #check-out .check-out-system .chipping-cost .Shipping {
    margin: 10px 0;
  }

  #check-out .order-summery {
    margin-top: 50px;
  }
  #check-out .order-summery .apply-cuppon {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
}

@media screen and (max-width: 576px) {
  #check-out .returning-option h1 {
    font-size: 16px;
  }

  #check-out .returning-option .fa-info {
    border: var(--border-and-color);
    padding: 4px 8px;
    border-radius: 4px;
    margin-right: 10px;
  }
  #check-out .check-out-system .heading h1 {
    font-size: 24px;
  }
  #check-out .check-out-system .product .heading {
    font-size: 24px;
    font-family: var(--primary-font);
    border-bottom: var(--border-and-color);
    padding-bottom: 5px;
    margin-top: 10px;
  }
  #check-out .check-out-system .product .product-img h1 {
    font-size: 18px;
  }
  #check-out .check-out-system .chipping-cost .heading {
    font-size: 24px;
  }
}
/* Check Out End */
