@import url('https://fonts.googleapis.com/css2?family=K2D&display=swap');

@font-face {
  font-family: fonts;
  src: url(../fonts/fonts/ttf/OtomanopeeOne-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-font: fonts;
  --secondary-font: K2D;
  --border-and-color: 1px solid rgba(38, 160, 218, 1);
  --text-color-black: black;
  --background-color: rgba(38, 160, 218, 1);
  --text-color-white: rgba(255, 255, 255, 1);
  --text-color-blue: rgba(38, 160, 218, 1);
  --item-color: rgba(255, 184, 0, 1);

}


/* Topbar Start */
#topbar {
  font-family: var(--secondary-font);
  background: rgba(49, 71, 85, 1);
}

.topbar_item ul {
  margin: 0px;
  list-style: none;
  align-items: center;
}

.topbar_item ul a {
  text-decoration: none;
  color: var(--text-color-white);
}

.topbar_item ul li {
  padding: 10px;
}

.topbar_item ul li img {
  width: 25px;
  height: 25px;
}

.topbar_item .vertical_bar {
  width: 1px;
  height: 20px;
  background-color: white;
}

/* Topbar End */



/* Header Start */
header .logo img {
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px 0;
}

header .search_bar {
 padding: 0px 12px;
  margin: auto;
  
}
header .search_bar_item {
  align-items: center;
  height: 45px;
  border-radius: 3px;
  display: flex;
  margin: auto;
  border: 1px solid rgba(38, 160, 218, 1);
}
header .search_bar img {
  padding-top: 9px;
  width: 60px;
  margin-top: -9px;
  margin-right: 5px;
}

header .header {
  justify-content: space-between;
}
.search_bar input {
  width: 100%;
  border: none;
  outline: none;
  font-family: var(--secondary-font);
}
header .contact {
  justify-content: space-between;
  display: flex;
  align-items: center;
}
header .header_contact {
  width: 70%;
  margin-right: 10px;
  border-radius: 3px;
  text-align: center;
  border: 1px solid rgba(38, 160, 218, 1);
}

.header_contact p {
  color: var(--text-color-blue);
}

.header_contact img {
  width: 25px;
  align-items: center;
}
.header_contact p{
  margin: 0px;
  padding: 0px;
}
.header_contact .call_us a {
  text-decoration: none;
  color: var(--text-color-black);
  font-size: 14px;
}

.add_to_cart img {
  width: 50px;
  height: 45px;
}
@media screen and (max-width:990px) {
  header .contact{
    margin-top: 20px;
  }
  header{
    margin: 20px 0;
  }
  
}
/* Header End */




/* navbar start*/
nav {
  font-family: var(--secondary-font);
  width: 100%;
  background: var(--text-color-blue)
}
nav .navbar {
  position: relative;
  height: 62px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .logo {
  display: none;
}
.navbar .nav-links {
  display: inline-flex;
}
.nav-links li {
  list-style: none;
}
.nav-links li a {
  display: inline-block;
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 15px 20px 18px;
  border-radius: 2px;
  transition: all 0.3s ease;
}
.nav-links li a:hover {
  background: var(--text-color-white);
  color: var(--text-color-blue);
}

.nav-links li .desktop-item svg {
  width: 15px;
}
.nav-links li a:hover svg path{
  transform: rotate(180deg);
  fill: red;
}


.nav-links .mobile-item {
  display: none;
}

.nav-links li:hover .mega-box {
  transition: all 0.3s ease;
  top: 62px !important;
  opacity: 1;
  visibility: visible;
}

.mega-box {
  position: absolute;
  left: 0;
  width: 90%;
  top: 55px;
  opacity: 0;
  visibility: hidden;
}
.mega-box .content {
  background: #ffffff;
  color: var(--text-color-black);
  padding: 50px 0px;
  display: flex;
  width: 100%;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}
.mega-box .content .row {
  justify-content: space-between;
  width: 100%;
  line-height: 45px;
  margin: 0px;
}
.content .row .mega-links {
  border-left: 1px solid rgba(255, 255, 255, 0.09);
}
.row .mega-links li {
  margin: 0 50px;
}
.row .mega-links li a {
  padding: 0px;
  color: #0e0e0e;
  font-size: 17px;
  display: block;
}
.row .mega-links li a:hover {
  color: var(--text-color-blue);
}
.navbar .btn {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.navbar .btn.close-btn {
  position: absolute;
  right: 30px;
  top: 10px;
}
.nav-btn {
  display: flex;
  background: white;
  border-radius: 5px;
}

@media screen and (max-width: 600px){
  .topbar_item ul a{
    font-size: 14px;
  }
}

@media screen and (max-width: 990px) {
  .navbar .btn {
    display: block;
  }
  nav .logo{
    display: block;
  }
  header .logo{
    display: none;
  }
  .navbar .nav-links {
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    top: 0;
    left: -100%;
    background: #242526;
    display: block;
    padding: 50px 10px;
    line-height: 50px;
    overflow-y: auto;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
    transition: all 0.3s ease;
  }
  .nav-btn {
    display: none !important;
  }
  /* custom scroll bar */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #242526;
  }
  ::-webkit-scrollbar-thumb {
    background: #3a3b3c;
  }
  #menu-btn:checked ~ .nav-links {
    left: 0%;
  }
  #menu-btn:checked ~ .btn.menu-btn {
    display: none;
  }
  #close-btn:checked ~ .btn.menu-btn {
    display: block;
  }
  .nav-links li {
    margin: 15px 10px;
  }
  .nav-links li a {
    padding: 0 20px;
    display: block;
    font-size: 20px;
  }
  .nav-links .drop-menu {
    position: static;
    opacity: 1;
    top: 65px;
    visibility: visible;
    padding-left: 20px;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    box-shadow: none;
    transition: all 0.3s ease;
  }
  #showDrop:checked ~ .drop-menu,
  #showMega:checked ~ .mega-box {
    max-height: 100%;
  }
  .nav-links .desktop-item {
    display: none;
  }
  .nav-links .mobile-item {
    display: block;
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .nav-links .mobile-item:hover {
    background: #3a3b3c;
  }
  .drop-menu li {
    margin: 0;
  }
  .drop-menu li a {
    border-radius: 5px;
    font-size: 18px;
  }
  .mega-box {
    position: static;
    top: 65px;
    opacity: 1;
    visibility: visible;
    padding: 0 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  .mega-box .content {
    box-shadow: none;
    flex-direction: column;
    padding: 20px 20px 0 20px;
  }
  .mega-box .content .row {
    width: 100%;
    margin-bottom: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
  }
  .mega-box .content .row:nth-child(1),
  .mega-box .content .row:nth-child(2) {
    border-top: 0px;
  }
  .content .row .mega-links {
    border-left: 0px;
    padding-left: 15px;
  }
  .row .mega-links li {
    margin: 0;
  }
  .content .row header {
    font-size: 19px;
  }
}
nav input {
  display: none;
}