@import url("https://fonts.googleapis.com/css2?family=K2D&display=swap");

@font-face {
  font-family: fonts;
  src: url(../fonts/fonts/ttf/OtomanopeeOne-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Back to btn Start */
html {
  scroll-behavior: smooth;
}

.back-button {
  outline: 2px solid var(--item-color);
  outline-offset: 4px;
  border-radius: 3px;
  align-items: center;
  padding: 10px 10px 15px 10px;
  z-index: 9999;
  position: fixed;
  background-color: var(--item-color);
  border-radius: px;
  height: 40px;
  bottom: 25px;
  right: 25px;
  text-decoration: none;
  align-items: center;
  line-height: 50px;
}
.back-button img {
  margin-bottom: 50px;
}
/* Back to btn End */

/* Variable */
:root {
  --box-shadow: 0 0 10px hsl(0, 0%, 0%, 0.15);
  --primary-font: fonts;
  --secondary-font: K2D;
  --border-and-color: 1px solid rgba(38, 160, 218, 1);
  --text-color-black: black;
  --background-color: rgba(38, 160, 218, 1);
  --text-color-white: rgba(255, 255, 255, 1);
  --text-color-blue: rgba(38, 160, 218, 1);
  --item-color: rgba(255, 184, 0, 1);
  --shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
}

/* Hero Start */
#hero {
  background: rgba(187, 229, 255, 1);
}

.hero-wrapper {
  position: relative;
}

.hero-content {
  position: relative;
}

.hero-shape {
  position: absolute;
  width: 150px;
}

.hero-shape img {
  width: 100%;
}

.hero-shape-1 {
  bottom: 0;
  left: 0;
}

.hero-shape-2 {
  top: 0;
  right: 0;
}

.hero-content {
  padding: 80px 0;
}

.hero-title h1 {
  font-size: 70px;
  font-family: var(--primary-font);
  text-align: center;
}

.hero-title p {
  font-size: 22px;
  font-family: var(--primary-font);
  text-align: center;
}
.HOME {
  font-family: var(--secondary-font);
  text-decoration: none;
  font-size: 22px;
  color: var(--text-color-black);
  margin-top: 10px;
}

.HOME:hover {
  color: var(--text-color-black);
}
.SHOP {
  font-family: var(--secondary-font);
  color: var(--background-color);
  text-decoration: none;
  font-size: 22px;
}

@media screen and (max-width: 992px) {
  .hero-shape {
    display: none;
  }
  .hero-title h1 {
    font-size: 60px;
  }

  .hero-title p {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .hero-content .hero-img-2 {
    display: none;
  }
}

/* Hero Start */

/* Payment Start */
#payment {
  margin: 100px 0px 0px 0px;
}

#payment .cashback-img {
  position: relative;
}

#payment .cashback-img .payment-item h1 {
  color: var(--item-color);
  font-family: var(--primary-font);
  font-size: 35px;
}

#payment .cashback-img .payment-item p {
  color: var(--text-color-black);
  font-family: var(--primary-font);
  font-size: 25px;
}

#payment .cashback-img .payment-item {
  text-align: center;
  position: absolute;
  transform: translate(-50% -50%);
  left: 60%;
  top: 15%;
}

@media screen and (max-width: 1250px) {
  #payment .cashback-img .payment-item h1 {
    font-size: 30px;
  }
  #payment .cashback-img .payment-item p {
    font-size: 20px;
  }
}

@media screen and (max-width: 1050px) {
  #payment .cashback-img .payment-item h1 {
    font-size: 25px;
  }
  #payment .cashback-img .payment-item p {
    font-size: 15px;
  }
}

@media screen and (max-width: 992px) {
  #payment .cashback-img .payment-item h1 {
    font-size: 20px;
  }
  #payment .cashback-img .payment-item p {
    font-size: 15px;
  }
}

@media screen and (max-width: 768px) {
  #payment .cashback-img .payment-item h1 {
    font-size: 12px;
  }
  #payment .cashback-img .payment-item p {
    font-size: 10px;
  }
}

@media screen and (max-width: 410px) {
  #payment .cashback-img .payment-item h1 {
    font-size: 9px;
  }
  #payment .cashback-img .payment-item p {
    font-size: 7px;
  }
}

/* Payment End */

/* Categories Start */
.feature {
  padding: 100px 0px 110px 0px;
  text-align: center;
  overflow: hidden;
}

.card-wrapper {
  margin-bottom: 20px !important;
}

.swiper {
  position: relative;
}

.feature .feature-heading .heading {
  font-family: var(--primary-font);
  margin: auto;
  display: flex;
  justify-content: center !important;
  align-items: center;
  text-align: center;
  font-size: 14px;
  overflow: hidden;
}

.feature-heading .bottom-border {
  margin: 0px 30px;
  border-bottom: 2px solid #26a0da;
}

.feature-heading .bottom-border2 {
  margin: 5px 50px 0px 50px;
  border-bottom: 2px solid #26a0da;
}

.card-wrapper .card {
  transition: all 0.3s ease;
  font-family: var(--secondary-font);
  align-items: center;
  justify-content: center;
  height: auto !important;
  margin-top: 80px;
  text-align: center;
  background: #fff;
  border-radius: 8px;
  border: 1px solid #26a0da !important;
}

.card-wrapper .card:hover {
  box-shadow: var(--box-shadow);
}

.card-wrapper .card .image-box {
  padding: 40px;
}

.card-wrapper .card .image-box img {
  width: 80%;
  aspect-ratio: 1/1 !important;
}

.card-wrapper .card .card-details {
  display: flex;
  align-items: center;
  column-gap: 12px;
  padding: 15px;
}

.card-wrapper .card-details .name h3 {
  font-size: 20px;
}
.card-wrapper .card-details .name {
  margin-top: -30px !important;
  font-weight: 500;
}

.swiper-navBtn {
  position: absolute;
  margin-top: 195px !important;
  height: 20px;
  width: 20px;
  background: #fff;
}

.feature .rectangle {
  margin-top: 55px;
}

.swiper-button-prev img {
  width: 50px !important;
  height: 50px !important;
}

.swiper-button-next img {
  width: 50px !important;
  height: 50px !important;
}

.swiper-button-prev {
  left: 44% !important;
}

.swiper-button-next {
  right: 44% !important;
}

.swiper-button-prev::after {
  display: none;
}

.swiper-button-next::after {
  display: none;
}

@media screen and (max-width: 1200px) {
  .swiper-navBtn {
    margin-top: 180px !important;
  }
}

@media screen and (max-width: 992px) {
  .swiper-navBtn {
    margin-top: 185px !important;
  }
  .swiper-button-prev {
    left: 40% !important;
  }
  .swiper-button-next {
    right: 40% !important;
  }
  .slide-container .rectangle {
    margin-top: 55px;
  }
}

@media screen and (max-width: 768px) {
  .swiper-navBtn {
    margin-top: 195px !important;
  }
}

@media screen and (max-width: 520px) {
  .swiper-navBtn {
    margin-top: 213px !important;
  }
  .swiper-button-prev {
    left: 35% !important;
  }
  .swiper-button-next {
    right: 35% !important;
  }
}
/* Categories End */

/* All Product Start */
#all-product h1 {
  font-family: var(--primary-font);
  color: var(--text-color-black);
  padding: 0px 0px 0px 0px !important;
}

#all-product .heading-bottom-bar {
  margin: 0px 0px 0px 0px !important;
  width: 180px;
  height: 2px;
  background: var(--background-color);
}

#all-product .heading-bottom-bar2 {
  margin: 5px 0px 0px 0px !important;
  width: 140px;
  height: 2px;
  background: var(--background-color);
  margin-bottom: 50px;
}

#all-product .product {
  overflow: hidden;
  margin: 20px 0;
  position: relative;
  padding: 50px 20px;
  position: relative;
  text-align: center;
  transition: all 0.3s ease;
  background: var(--text-color-white);
  border: 1px solid skyblue;
  border-radius: 5px;
}

#all-product .product-img-box {
  overflow: hidden;
}

#all-product .product-img-box img {
  width: 100%;
  aspect-ratio: 1/1;
}

#all-product .product-img {
  transition: all 0.3s ease;
  max-width: 65%;
  display: block;
  margin: auto;
  transition: transform 0.3s ease;
}

#all-product .product:hover .product-img {
  transform: translateX(-5px);
  opacity: 0.4;
}

#all-product .product:hover {
  box-shadow: 0 0 10px hsl(0, 0%, 0%, 0.15);
}

#all-product .review-star a {
  text-decoration: none;
}

#all-product .review-star {
  padding-top: 20px;
}
#all-product .review-star i {
  color: var(--item-color) !important;
}

#all-product .product-title {
  margin: 25px 0 15px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
}

#all-product .product-title a {
  font-size: 22px;
  font-family: var(--primary-font);
  text-decoration: none;
  color: var(--text-color-black);
}

#all-product .product-price {
  position: absolute;
  bottom: 20px;
  left: 35%;
  font-size: 28px;
  line-height: 1;
  font-weight: 500;
  color: var(--item-color);
}

#all-product .product-icon-btns {
  z-index: 44444;
  position: absolute;
  top: 15px;
  right: 1px;
  flex-direction: column;
  display: flex;
}

#all-product .product-icon-btns a {
  opacity: 0;
  text-decoration: none;
  border: 1px solid skyblue;
  box-shadow: var(--box-shadow);
  display: flex;
  width: 30px;
  height: 30px;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  margin-bottom: 6px;
  border-radius: 5px;
  color: var(--text-color-blue);
  transition: all 0.3s ease;
  position: relative;
}

#all-product .product-icon-btns a:hover .product-tooltip {
  opacity: 1;
  transform: translate(23px);
}

#all-product
  .product-icon-btns
  .product:hover
  .product-icon-btns
  a:nth-child(2) {
  transition-delay: 0.1s;
}

#all-product
  .product-icon-btns
  .product:hover
  .product-icon-btns
  a:nth-child(2) {
  transition-delay: 0.1s;
}

#all-product
  .product-icon-btns
  .product:hover
  .product-icon-btns
  a:nth-child(3) {
  transition-delay: 0.2s;
}

#all-product .product {
  width: 100%;
  border-radius: 5px;
}

#all-product .product-icon-btns .product-tooltip {
  font-family: var(--secondary-font);
  position: absolute;
  top: 1px;
  right: 52px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  transform: translateX(50%);
  background: #314755;
  color: var(--text-color-white);
  font-size: 12px;
  padding: 4px 8px;
  white-space: nowrap;
  white-space: nowrap;
  opacity: 0;
  transition: all 0.2s ease;
}

#all-product .pagination-border {
  margin-top: 40px;
  width: 100%;
  height: 1px;
  background: skyblue;
}

#all-product .pagination {
  position: relative;
  display: flex;
  justify-content: flex-end;
  position: relative;
  float: right;
  background: #ffffff;
  top: -20px;
  right: -6px;
}

#all-product .pagination a {
  color: var(--text-color-blue);
  float: left;
  padding: 8px 16px;
  border: 1px solid #26a0da;
  text-decoration: none;
  border-radius: 3px;
  transition: background-color 0.3s;
  margin-right: 8px;
}

#all-product .pagination a.active {
  background-color: #26a0da;
  color: white;
}

#all-product .pagination a:hover:not(.active) {
  background-color: #ddd;
}

@media screen and (max-width: 768px) {
  #all-product .pagination a {
    padding: 4px 12px !important;
    margin: 0 4px;
  }
  #all-product .pagination {
    font-size: 16px;
  }
}

@media (min-width: 350px) {
  #all-product .all-icon-btns a {
    opacity: 0;
    transform: translate(-10px);
  }

  #all-product .product:hover .product-icon-btns a {
    opacity: 1;
    transform: translateX(-80%);
  }
}

@media screen and (max-width: 600px) {
  #all-product h1 {
    padding-left: 10px;
  }

  #all-product .heading-bottom-bar {
    margin-left: 10px;
  }

  #all-product .heading-bottom-bar2 {
    margin-left: 10px;
  }
}

/* All Product End */

/* Brands Start */
.brands {
  padding: 100px 0px 100px 0px;
  text-align: center;
  overflow: hidden;
}

.brands .card-wrapper {
  margin-bottom: 20px !important;
}

.brands .brand-heading {
  font-family: var(--primary-font);
  margin: auto;
  display: flex;
  margin-bottom: -30px;
  justify-content: center !important;
  align-items: center;
  text-align: center;
  font-size: 14px;
  overflow: hidden;
}

.brand-heading .bottom-border {
  margin: 0px 20px;
  border-bottom: 1px solid #26a0da;
}

.brand-heading .bottom-border2 {
  margin: 5px 40px 0px 40px;
  border-bottom: 1px solid #26a0da;
}

.brands .card-wrapper .card {
  transition: all 0.3s ease;
  font-family: var(--secondary-font);
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  text-align: center;
  background: #fff;
  border-radius: 8px;
  border: 1px solid #26a0da !important;
}

.brands .card-wrapper .card:hover {
  box-shadow: var(--box-shadow);
}

.brands .card-wrapper .card .image-box {
  padding: 20px 0;
}

.brands .card-wrapper .card .image-box img {
  height: 50px;
  width: 130px;
}

.brands .swiper-navBtn {
  position: absolute;
  margin-top: 125px !important;
  height: 20px;
  width: 20px;
  background: #fff;
}

.brands .rectangle {
  margin-top: 55px;
}

.brands .swiper-button-prev img {
  width: 50px !important;
  height: 50px !important;
}

.brands .swiper-button-next img {
  width: 50px !important;
  height: 50px !important;
}

.brands .swiper-button-prev {
  left: 44% !important;
}

.brands .swiper-button-next {
  right: 44% !important;
}

.brands .swiper-button-prev::after {
  display: none;
}

.brands .swiper-button-next::after {
  display: none;
}

@media screen and (max-width: 1200px) {
  .brands .swiper-navBtn {
    margin-top: 123px !important;
  }
}

@media screen and (max-width: 992px) {
  .brands .swiper-navBtn {
    margin-top: 121px !important;
  }

  .brands .swiper-button-prev {
    left: 40% !important;
  }

  .brands .swiper-button-next {
    right: 40% !important;
  }

  .brands .slide-container .rectangle {
    margin-top: 55px;
  }
}

@media screen and (max-width: 768px) {
  .brands .swiper-navBtn {
    margin-top: 120px !important;
  }
}

@media screen and (max-width: 520px) {
  .brands .swiper-navBtn {
    margin-top: 118px !important;
  }

  .brands .swiper-button-prev {
    left: 35% !important;
  }

  .brands .swiper-button-next {
    right: 35% !important;
  }
}
/* Brand End */

/* Customer review Start */
#customer-review .swiper-review {
  display: flex;
  width: 100%;
  margin: 20px 0;
  padding: 20px 0;
  justify-content: center;

}

#customer-review .review {
  margin: 0px 100px;
  max-width: 100%;
  padding: 0px 0px 80px 0px;
  text-align: center;
  overflow: hidden;
}

.review .review-heading {
  font-family: var(--primary-font);
  margin: auto;
  display: flex;
  margin-bottom: -30px;
  justify-content: center !important;
  align-items: center;
  text-align: center;
  font-size: 14px;
 
}

.review .review-heading h1 span {
  color: var(--item-color);
}

.review .review-heading .bottom-border {
  margin: 0px 90px;
  border-bottom: 1px solid #26a0da;
}

.review .review-heading .bottom-border2 {
  margin: 5px 110px 0px 110px;
  border-bottom: 1px solid #26a0da;
}

.review .card-wrapper .swiper-slide {
  transition: all 0.3s ease;
  font-family: var(--secondary-font);
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  text-align: center;
  border-radius: 0px !important;
  background: #fff;
  border-top: 1px solid rgba(92, 92, 92, 0.637) !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 1px solid rgba(92, 92, 92, 0.637) !important;
}

.review .card-wrapper .swiper-slide .review-details {
  padding: 0px 0px 0px 60px !important;
  margin: 0px 0px !important;
}

.review .card-wrapper .card {
  padding: 20px 0 !important;
  width: 100% !important;
  box-shadow: none;
}

.review .card-wrapper .review-details {
  display: flex;
  justify-content: space-around !important;
}

.review .card-wrapper .review-details .rvw-item2 {
  text-align: left;
}

.review .card-wrapper .review-details .rvw-item2 .customer-img {
  display: flex;
}

#customer-review .review-details .rvw-item1 {
  padding: 0px 50px 0px 0px;
}
#customer-review .review-details .rvw-item1 h1 {
  font-family: var(--primary-font);
  font-size: 22px;
  padding-bottom: 10px;
}

#customer-review .review-details .rvw-item1 .review-star a {
  display: flex;
  justify-content: center;
}

#customer-review .review-details .rvw-item1 .review-star a i {
  color: var(--item-color);
  padding: 0px 0px 40px 0px;
}

#customer-review .review-details .rvw-item1 p {
  color: rgba(124, 137, 146, 1);
  font-family: var(--secondary-font);
  text-wrap: nowrap;
}

#customer-review .review-details .rvw-item1 a {
  text-decoration: none;
}

#customer-review .review-details .rvw-item2 {
  padding-left: 50px;
  margin-right: 50px;
  border-left: 1px solid rgba(38, 160, 218, 1);
}

#customer-review .review-details .rvw-item2 .name {
  padding-left: 20px;
}

#customer-review .review-details .rvw-item2 h1 {
  font-family: var(--primary-font);
  font-size: 22px;
}

#customer-review .review-details .rvw-item2 h4 {
  font-family: var(--secondary-font);
  font-size: 20px;
  font-weight: bold;
  color: var(--item-color);
}

#customer-review .review-details .rvw-item2 p {
  font-family: var(--secondary-font);
  font-size: 20px;
  color: rgba(124, 137, 146, 1);
  padding-top: 5px;
}

#customer-review .review-details .rvw-item2 .like img {
  margin-right: 20px;
}

.review .swiper-navBtns {
  top: 50% !important;
}

.review .swiper-button-prev {
  left: 2% !important;
}

.review .swiper-button-next {
  right: 2% !important;
}

.review .swiper-button-prev::after {
  display: none;
}

.review .swiper-button-next::after {
  display: none;
}

@media screen and (max-width: 992px) {
  #customer-review .review-details .rvw-item2 .customer-img img {
    width: 40px !important;
    height: 40px !important;
  }

  #customer-review .review-details .rvw-item2 h1 {
    font-size: 16px;
  }

  #customer-review .review-details .rvw-item2 h4 {
    font-size: 12px;
  }

  #customer-review .review-details .rvw-item2 p {
    font-size: 12px;
  }

  #customer-review .review-details .rvw-item2 .like img {
    width: 20px !important;
  }

  #customer-review .review-details .rvw-item1 h1 {
    font-size: 16px;
    padding-bottom: 10px;
  }

  #customer-review .review-details .rvw-item1 p {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  #customer-review .review {
    margin: 0px 40px;
  }

  #customer-review .review-details .rvw-item2 .customer-img img {
    width: 30px !important;
    height: 30px !important;
  }

  #customer-review .review-details .rvw-item2 h1 {
    font-size: 10px;
    text-wrap: nowrap;
  }

  #customer-review .review-details .rvw-item2 h4 {
    font-size: 8px;
  }

  #customer-review .review-details .rvw-item2 p {
    margin: 0px !important;
    font-size: 8px;
  }

  #customer-review .review-details .rvw-item2 .like img {
    width: 12px !important;
  }

  #customer-review .review-details .rvw-item2 {
    padding-left: 20px;
  }

  #customer-review .review-details .rvw-item1 {
    padding: 0px 20px 0px 0px;
  }

  #customer-review .review-details .rvw-item1 h1 {
    font-size: 10px;
    padding-bottom: 8px;
  }

  #customer-review .review-details .rvw-item1 p {
    font-size: 9px;
  }

  .review .swiper-button-prev {
    left: 3% !important;
  }

  .review .swiper-button-next {
    right: 3% !important;
  }
}

@media screen and (max-width: 575px) {
  #customer-review .swiper-navBtns img{
    width: 30px !important;
  }
}
@media screen and (max-width: 410px) {
  .review .swiper-navBtns {
    top: 52% !important;
  }

  .review .swiper-button-prev {
    left: 4% !important;
  }

  .review .swiper-button-next {
    right: 4% !important;
  }
}
/* Customer Review End */
