@import url("https://fonts.googleapis.com/css2?family=K2D&display=swap");

@font-face {
  font-family: fonts;
  src: url(../fonts/fonts/ttf/OtomanopeeOne-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Back to btn Start */
html {
  scroll-behavior: smooth;
}

.back-button {
  outline: 2px solid var(--item-color);
  outline-offset: 4px;
  border-radius: 3px;
  align-items: center;
  padding: 10px 10px 15px 10px;
  z-index: 9999;
  position: fixed;
  background-color: var(--item-color);
  border-radius: px;
  height: 40px;
  bottom: 25px;
  right: 25px;
  text-decoration: none;
  align-items: center;
  line-height: 50px;
}
.back-button img {
  margin-bottom: 50px;
}
/* Back to btn End */

/* Variable */
:root {
  --box-shadow: 0 0 10px hsl(0, 0%, 0%, 0.15);
  --primary-font: fonts;
  --secondary-font: K2D;
  --border-and-color: 1px solid rgba(38, 160, 218, 1);
  --text-color-black: black;
  --background-color: rgba(38, 160, 218, 1);
  --text-color-white: rgba(255, 255, 255, 1);
  --text-color-blue: rgba(38, 160, 218, 1);
  --item-color: rgba(255, 184, 0, 1);
  --shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
}

/* Hero Slider Start */
.mySwiper {
  height: 790px;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-bottom: 3px solid #26a0da;
  background-image: url(../img/home-img/hero-slider/slider-bg.png) !important;
}

.hero-slider-header h1 {
  margin: 0px;
  font-size: 55px;
  font-family: var(--primary-font);
}

.hero-slider-header .header {
  padding-top: 120px;
}

.hero-slider-header h1 span {
  color: var(--text-color-blue);
}

.hero-slider-item {
  justify-content: space-between;
}

.hero-slider-item p {
  margin-top: 20px;
  font-size: 18px;
  font-family: var(--secondary-font);
}

.hero-slider-item button {
  transition: all 0.3s ease;
  border: none;
  padding: 10px 15px;
  border-radius: 3px;
  background: rgba(67, 180, 224, 0.89);
}
.hero-slider-item button:hover {
  border: none;
  padding: 10px 15px;
  border-radius: 3px;
  background: var(--background-color);
}

.hero-slider-item button a {
  text-decoration: none;
  color: var(--text-color-white);
}

.hero-slider-item .swiper-img img {
  max-width: 100%;
  margin-top: -150px;
}

.swiper-pagination-bullets-dynamic {
  justify-content: center !important;
  transform: translateY(-50px) translateX(-50px) !important;
}

.swiper-pagination-bullet {
  border-radius: 3px !important;
  opacity: 1 !important;
  justify-content: center !important;
  padding-top: -30px !important;
  background: white !important;
  width: 18px !important;
  height: 18px !important;
  border: 2px solid #00aeff !important;
}

.swiper-pagination-bullet-active {
  justify-content: center !important;
  background: #26a0da !important;
  border-radius: 3px !important;
}

@media screen and (max-width: 1200px) {
  .hero-slider-item .swiper-img img {
    margin-top: -70px;
  }

  .hero-slider-header {
    margin-top: 80px;
  }
}

@media screen and (max-width: 992px) {
  .hero-slider-item .swiper-img img {
    width: 95%;
    margin-top: -50px;
  }

  .hero-slider-header h1 {
    font-size: 40px;
  }

  .hero-slider-header .header {
    padding-top: 50px;
  }
}

@media screen and (max-width: 600px) {
  .hero-slider-header h1 {
    width: 370px;
    font-size: 28px;
  }

  .hero-slider-item .swiper-img img {
    margin-top: 0px;
    width: 90%;
  }

  .mySwiper {
    height: 700px;
  }

  .swiper-pagination-bullets-dynamic {
    justify-content: center !important;
    transform: translateY(-20px) translateX(-50px) !important;
  }
}
/* Hero Slider End */

/* Feature Categories Start */
.feature {
  padding: 100px 0px 110px 0px;
  text-align: center;
  overflow: hidden;
}

.card-wrapper {
  margin-bottom: 20px !important;
}

.swiper {
  position: relative;
}

.feature .feature-heading {
  font-family: var(--primary-font);
  margin: auto;
  display: flex;
  justify-content: center !important;
  align-items: center;
  text-align: center;
  font-size: 14px;
  overflow: hidden;
}

.feature-heading .bottom-border {
  margin: 0px 80px;
  border-bottom: 2px solid #26a0da;
}

.feature-heading .bottom-border2 {
  margin: 5px 110px 0px 110px;
  border-bottom: 2px solid #26a0da;
}

.card-wrapper .card {
  transition: all 0.3s ease;
  font-family: var(--secondary-font);
  align-items: center;
  justify-content: center;
  height: auto !important;
  margin-top: 80px;
  text-align: center;
  background: #fff;
  border-radius: 8px;
  border: 1px solid #26a0da !important;
}

.card-wrapper .card:hover {
  box-shadow: var(--box-shadow);
}

.card-wrapper .card .image-box {
  padding: 40px;
}

.card-wrapper .card .image-box img {
  width: 80%;
  aspect-ratio: 1/1 !important;
}

.card-wrapper .card .card-details {
  display: flex;
  align-items: center;
  column-gap: 12px;
  padding: 15px;
}

.card-wrapper .card-details .name h3 {
  font-size: 20px;
}
.card-wrapper .card-details .name {
  margin-top: -30px !important;
  font-weight: 500;
}

.swiper-navBtn {
  position: absolute;
  margin-top: 195px !important;
  height: 20px;
  width: 20px;
  background: #fff;
}

.feature .rectangle {
  margin-top: 55px;
}

.swiper-button-prev img {
  width: 50px !important;
  height: 50px !important;
}

.swiper-button-next img {
  width: 50px !important;
  height: 50px !important;
}

.swiper-button-prev {
  left: 44% !important;
}

.swiper-button-next {
  right: 44% !important;
}

.swiper-button-prev::after {
  display: none;
}

.swiper-button-next::after {
  display: none;
}

@media screen and (max-width: 1200px) {
  .swiper-navBtn {
    margin-top: 180px !important;
  }
}

@media screen and (max-width: 992px) {
  .swiper-navBtn {
    margin-top: 185px !important;
  }
  .swiper-button-prev {
    left: 40% !important;
  }
  .swiper-button-next {
    right: 40% !important;
  }
  .slide-container .rectangle {
    margin-top: 55px;
  }
}
@media screen and (max-width: 768px) {
  .swiper-navBtn {
    margin-top: 195px !important;
  }
}

@media screen and (max-width: 520px) {
  .swiper-navBtn {
    margin-top: 213px !important;
  }
  .swiper-button-prev {
    left: 35% !important;
  }
  .swiper-button-next {
    right: 35% !important;
  }
}
/* Feature Categories End */

/* Offer Sec Start */
#offer {
  padding: 0px 0px 0px 0px !important;
}

#offer .offer-item1 img {
  width: 100%;
}

#offer .offer-item1 .offer-title1 {
  padding: 50px 0px 0px 30px;
}

#offer .offer-item2 .offer-title2 {
  padding: 50px 30px 0px 0px;
}

#offer .offer-item2 .offer-title2 p {
  color: var(--text-color-blue);
  font-family: var(--secondary-font);
}

#offer .offer-item2 .offer-title2 p {
  font-family: var(--secondary-font);
}

#offer .offer-item2 .offer-title2 h2,
#offer .offer-item2 .offer-title2 h1 {
  font-family: var(--primary-font);
  font-size: 28px;
  margin: 20px 0;
}

#offer .offer-item2 .offer-title2 h6 span {
  color: var(--text-color-blue);
  font-family: var(--secondary-font);
}

#offer .offer-item2 .offer-title2 .offer-button2 {
  margin: 40px 0;
}

#offer .offer-item2 .offer-title2 a {
  text-decoration: none;
  padding: 10px 15px;
  background: var(--background-color);
  color: var(--text-color-white);
  border-radius: 3px;
  margin-top: 50px !important;
}

#offer .offer-item1 .offer-title1 p {
  color: var(--item-color);
  font-family: var(--secondary-font);
}

#offer .offer-item1 .offer-title2 p {
  font-family: var(--secondary-font);
}

#offer .offer-item1 .offer-title1 h2,
.offer .offer-item1 .offer-title1 h1 {
  color: var(--text-color-white);
  font-family: var(--primary-font);
  font-size: 28px;
  margin: 20px 0;
}

#offer .offer-item1 .offer-title1 h6 {
  color: var(--text-color-white);
}

#offer .offer-item1 .offer-title1 h6 span {
  color: var(--item-color);
  font-family: var(--secondary-font);
}

#offer .offer-item1 .offer-title1 .offer-button1 {
  margin: 40px 0;
}

#offer .offer-item1 .offer-title1 a {
  text-decoration: none;
  padding: 10px 15px;
  background: var(--item-color);
  color: var(--text-color-white);
  border-radius: 3px;
  margin-top: 50px !important;
}

#offer .offer-item2 img {
  margin-top: 20px;
  width: 100%;
}

#offer .offer-item1 {
  padding: 0px 10px;
  border-radius: 3px;
  margin: 20px 0;
  background: var(--background-color);
}

#offerr .offer-item2 {
  padding: 0px 20px;
  border-radius: 3px;
  margin: 20px 0;
  text-align: right;
  background-image: url(../img/home-img/offer-img/offer-bg.png) !important;
  width: 100%;
  height: fit-content;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media screen and (max-width: 1200px) {
  #offer .offer-item2 .offer-title2 h2,
  #offer .offer-item2 .offer-title2 h1 {
    font-family: var(--primary-font);
    font-size: 35px;
    margin: 0px 0;
  }

  #offer .offer-item1 .offer-title1 h2,
  #offer .offer-item1 .offer-title1 h1 {
    font-family: var(--primary-font);
    font-size: 35px;
    margin: 0px 0;
  }

  #offer .offer-item2 {
    max-width: 90%;
    margin: 0px 12px !important;
  }
}

@media screen and (max-width: 768px) {
  #offer .offer-item2 {
    max-width: 94.6%;
  }

}

@media screen and (max-width: 1200px) {
  #offer .offer-item2 {
    margin: 0px 0px;
    padding: 0px 0px;
  }
}
/* Offer Sec End */

/* Trending Products Start */
.trending {
  padding: 100px 0px 100px 0px;
  text-align: center;
  overflow: hidden;
}

.trending .card-wrapper {
  margin-bottom: 20px !important;
}

.trending .swiper {
  position: relative;
}

.trending .trending-heading {
  font-family: var(--primary-font);
  margin: auto;
  display: flex;
  justify-content: center !important;
  align-items: center;
  text-align: center;
  font-size: 14px;
  overflow: hidden;
}
.trending .trending-heading h1 span {
  color: var(--item-color);
}

.trending .trending-heading .bottom-border {
  margin: 0px 80px;
  border-bottom: 2px solid #26a0da;
}

.trending .trending-heading .bottom-border2 {
  margin: 5px 110px 0px 110px;
  border-bottom: 2px solid #26a0da;
}

.trending .card-wrapper .card {
  transition: all 0.3s ease;
  font-family: var(--secondary-font);
  align-items: center;
  justify-content: center;
  height: auto !important;
  margin-top: 80px;
  text-align: center;
  background: #fff;
  border-radius: 5px;
  border: none;
}
.trending .card-wrapper .card:hover {
  border: none !important;
}

.trending .product {
  overflow: hidden;
  position: relative;
  padding: 50px 20px;
  position: relative;
  text-align: center;
  transition: all 0.3s ease;
  background: var(--text-color-white);
  border-radius: 5px;
}
.trending .product .product-img-box {
  overflow: hidden;
}

.trending .product-img-box img {
  width: 100%;
  aspect-ratio: 1/1;
}
.trending .product-img {
  transition: all 0.3s ease;
  max-width: 65%;
  display: block;
  margin: auto;
  transition: transform 0.3s ease;
}
.trending .product:hover .product-img {
  transform: translateX(-5px);
  opacity: 0.4;
}
.trending .product:hover {
  border: 1px solid #80c4e4;
  box-shadow: 0 0 10px hsl(0, 0%, 0%, 0.15);
}
.trending .review-star a {
  text-decoration: none;
}
.trending .review-star {
  padding-top: 20px;
}
.trending .review-star i {
  color: var(--item-color) !important;
}

.trending .product-title {
  margin: 25px 0 15px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
}

.trending .product-title a {
  font-size: 22px;
  font-family: var(--primary-font);
  text-decoration: none;
  color: var(--text-color-black);
}
.trending .product-price {
  position: absolute;
  bottom: 20px;
  left: 35%;
  font-size: 28px;
  line-height: 1;
  font-weight: 500;
  color: var(--item-color);
}

.trending .product-icon-btns {
  z-index: 44444;
  position: absolute;
  top: 15px;
  right: 1px;
  flex-direction: column;
  display: flex;
}

.trending .product-icon-btns a {
  opacity: 0;
  text-decoration: none;
  border: 1px solid rgb(233, 233, 233);
  box-shadow: var(--box-shadow);
  display: flex;
  width: 30px;
  height: 30px;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  margin-bottom: 6px;
  border-radius: 5px;
  color: var(--text-color-blue);
  transition: all 0.3s ease;
  position: relative;
}

.trending .product:hover .product-icon-btns a {
  opacity: 1;
  transform: translate(-20px);
}

.trending .product-icon-btns a:hover .product-tooltip {
  opacity: 1;
  transform: translate(23px);
}

.trending .product-icon-btns .product:hover .product-icon-btns a:nth-child(2) {
  transition-delay: 0.1s;
}

.trending .product-icon-btns .product:hover .product-icon-btns a:nth-child(2) {
  transition-delay: 0.1s;
}

.trending .product-icon-btns .product:hover .product-icon-btns a:nth-child(3) {
  transition-delay: 0.2s;
}

.trending .product {
  width: 100%;
  border-radius: 5px;
}

.trending .product-icon-btns .product-tooltip {
  font-family: var(--secondary-font);
  position: absolute;
  top: 1px;
  right: 52px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  transform: translateX(50%);
  background: #314755;
  color: var(--text-color-white);
  font-size: 12px;
  padding: 4px 8px;
  white-space: nowrap;
  opacity: 0;
  transition: all 0.2s ease;
}

.trending .swiper-navBtn {
  position: absolute;
  margin-top: 288px !important;
  height: 20px;
  width: 20px;
  background: #fff;
}

.trending .rectangle {
  margin-top: 60px !important;
}

.trending .swiper-button-prev img {
  width: 50px !important;
  height: 50px !important;
}

.trending .swiper-button-next img {
  width: 50px !important;
  height: 50px !important;
}

.trending .swiper-button-prev {
  left: 44% !important;
}

.trending .swiper-button-next {
  right: 44% !important;
}

.trending .swiper-button-prev::after {
  display: none;
}

.trending .swiper-button-next::after {
  display: none;
}

@media screen and (max-width: 1200px) {
  .trending .swiper-navBtn {
    margin-top: 287px !important;
  }
}

@media screen and (max-width: 992px) {
  .trending .swiper-navBtn {
    margin-top: 286px !important;
  }
  .trending .swiper-button-prev {
    left: 40% !important;
  }
  .trending .swiper-button-next {
    right: 40% !important;
  }
  .trending .slide-container .rectangle {
    margin-top: 55px;
  }
}
@media screen and (max-width: 768px) {
  .trending .swiper-navBtn {
    margin-top: 278px !important;
  }
}

@media screen and (max-width: 520px) {
  .trending .swiper-navBtn {
    margin-top: 338px !important;
  }
  .trending .swiper-button-prev {
    left: 35% !important;
  }
  .trending .swiper-button-next {
    right: 35% !important;
  }
}
@media screen and (max-width: 500px) {
  .trending .swiper-navBtn {
    margin-top: 333px !important;
  }
  .trending .swiper-button-prev {
    left: 35% !important;
  }
  .trending .swiper-button-next {
    right: 35% !important;
  }
}
@media screen and (max-width: 495px) {
  .trending .swiper-navBtn {
    margin-top: 328px !important;
  }
  .trending .swiper-button-prev {
    left: 35% !important;
  }
  .trending .swiper-button-next {
    right: 35% !important;
  }
}
@media screen and (max-width: 460px) {
  .trending .swiper-navBtn {
    margin-top: 333px !important;
  }
  .trending .swiper-button-prev {
    left: 35% !important;
  }
  .trending .swiper-button-next {
    right: 35% !important;
  }
}
@media screen and (max-width: 450px) {
  .trending .swiper-navBtn {
    margin-top: 323px !important;
  }
  .trending .swiper-button-prev {
    left: 35% !important;
  }
  .trending .swiper-button-next {
    right: 35% !important;
  }
}
@media screen and (max-width: 380px) {
  .trending .swiper-navBtn {
    margin-top: 298px !important;
  }
  .trending .swiper-button-prev {
    left: 35% !important;
  }
  .trending .swiper-button-next {
    right: 35% !important;
  }
}

/* Trending Products End */

/* All Product Start */
#all-product h1 {
  font-family: var(--primary-font);
  color: var(--text-color-black);
  padding: 0px 0px 0px 0px !important;
}

#all-product .heading-bottom-bar {
  width: 180px;
  height: 2px;
  background: var(--background-color);
}

#all-product .heading-bottom-bar2 {
  margin: 5px 0px 50px 0px !important;
  margin-top: 10px;
  width: 140px;
  height: 2px;
  background: var(--background-color);
  margin-bottom: 50px;
}

#all-product .product {
  overflow: hidden;
  margin: 20px 0;
  position: relative;
  padding: 50px 20px;
  position: relative;
  text-align: center;
  transition: all 0.3s ease;
  background: var(--text-color-white);
  border: 1px solid skyblue;
  border-radius: 5px;
}

#all-product .product-img-box {
  overflow: hidden;
}
#all-product .product-img-box img {
  width: 100%;
  aspect-ratio: 1/1;
}

#all-product .product-img {
  transition: all 0.3s ease;
  max-width: 65%;
  display: block;
  margin: auto;
  transition: transform 0.3s ease;
}

#all-product .product:hover .product-img {
  transform: translateX(-5px);
  opacity: 0.4;
}

#all-product .product:hover {
  box-shadow: 0 0 10px hsl(0, 0%, 0%, 0.15);
}

#all-product .review-star a {
  text-decoration: none;
}

#all-product .review-star {
  padding-top: 20px;
}
#all-product .review-star i {
  color: var(--item-color) !important;
}

#all-product .product-title {
  margin: 25px 0 15px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
}

#all-product .product-title a {
  font-size: 22px;
  font-family: var(--primary-font);
  text-decoration: none;
  color: var(--text-color-black);
}

#all-product .product-price {
  position: absolute;
  bottom: 20px;
  left: 35%;
  font-size: 28px;
  line-height: 1;
  font-weight: 500;
  color: var(--item-color);
}

#all-product .product-icon-btns {
  z-index: 44444;
  position: absolute;
  top: 15px;
  right: 1px;
  flex-direction: column;
  display: flex;
}

#all-product .product-icon-btns a {
  opacity: 0;
  text-decoration: none;
  border: 1px solid skyblue;
  box-shadow: var(--box-shadow);
  display: flex;
  width: 30px;
  height: 30px;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  margin-bottom: 6px;
  border-radius: 5px;
  color: var(--text-color-blue);
  transition: all 0.3s ease;
  position: relative;
}
#all-product .product-icon-btns a:hover .product-tooltip {
  opacity: 1;
  transform: translate(23px);
}

#all-product
  .product-icon-btns
  .product:hover
  .product-icon-btns
  a:nth-child(2) {
  transition-delay: 0.1s;
}
#all-product
  .product-icon-btns
  .product:hover
  .product-icon-btns
  a:nth-child(2) {
  transition-delay: 0.1s;
}

#all-product
  .product-icon-btns
  .product:hover
  .product-icon-btns
  a:nth-child(3) {
  transition-delay: 0.2s;
}
#all-product .product {
  width: 100%;
  border-radius: 5px;
}

#all-product .product-icon-btns .product-tooltip {
  font-family: var(--secondary-font);
  position: absolute;
  top: 1px;
  right: 52px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  transform: translateX(50%);
  background: #314755;
  color: var(--text-color-white);
  font-size: 12px;
  padding: 4px 8px;
  white-space: nowrap;
  opacity: 0;
  transition: all 0.2s ease;
}
#all-product .button {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 1px;
  margin: 50px 0;
  background: var(--background-color);
}

#all-product .viewmorebtn {
  position: absolute;
  text-align: center;
  align-items: center;
  padding: 7px 40px;
  top: -20px;
  font-family: var(--secondary-font);
  justify-content: center;
  margin: auto;
  text-decoration: none;
  width: 150px;
  border-radius: 3px;
  color: var(--text-color-blue);
  letter-spacing: 5px;
  font-weight: bold;
  background: var(--text-color-white);
  border: 2px solid var(--text-color-blue);
  transition: 0.5s ease;
}

#all-product .viewmorebtn:hover {
  background-color: #26a0da;
  color: white;
}

@media (min-width: 350px) {
  #all-product .all-icon-btns a {
    opacity: 0;
    transform: translate(-10px);
  }

  #all-product .product:hover .product-icon-btns a {
    opacity: 1;
    transform: translateX(-80%);
  }
}
@media screen and (max-width: 600px) {
  #all-product h1 {
    padding-left: 10px;
  }

  #all-productt .heading-bottom-bar {
    margin-left: 10px;
  }

  #all-product .heading-bottom-bar2 {
    margin-left: 10px;
  }
}
/* All Product End */

/* Latest Blog Start */
#latest-blog {
  padding: 100px 0px 0px 0px;
  text-align: center;
}
#latest-blog .blog-heading {
  font-family: var(--primary-font);
  margin: auto;
  display: flex;
  justify-content: center !important;
  align-items: center;
  text-align: center;
  overflow: hidden;
}
#latest-blog .blog-heading span {
  color: var(--item-color);
}

#latest-blog .blog-heading .bottom-border {
  margin: 0px 30px;
  border-bottom: 2px solid #26a0da;
}

#latest-blog .blog-heading .bottom-border2 {
  margin: 5px 50px 10px 50px;
  border-bottom: 2px solid #26a0da;
}
#latest-blog .blog-item {
  margin: 50px 0px 0px 0px;
  border-radius: 5px;
  line-height: 1.5;
  position: relative;
  padding: 5px;
  border: var(--border-and-color);
  transition: all 0.3s ease;
}
#latest-blog .blog-item:hover {
  box-shadow: var(--box-shadow);
}
#latest-blog .blog-item p {
  padding-top: 10px;
  color: var(--text-color-blue);
}
#latest-blog .blog-item .title-box a {
  color: var(--text-color-black);
  font-size: 20px;
  font-family: var(--primary-font);
}
#latest-blog .blog-item .title-box {
  margin-bottom: 40px;
}
#latest-blog .blog-item .blog-title {
  padding-bottom: 10px;
}
#latest-blog .blog-item span {
  color: #7c8992;
  padding: 0px 20px;
  text-align: center;
  display: flex;
}
#latest-blog .blog-item a {
  text-decoration: none;
}
#latest-blog .blog-item .blog-btns {
  bottom: -13px;
  position: absolute;
  left: 10%;
  right: 10%;
  margin: auto;
}
#latest-blog .blog-item .blog-btns a {
  transition: all 0.3s ease;
  padding: 8px 40px;
  color: var(--text-color-blue);
  background: var(--text-color-white);
  border: var(--border-and-color);
  border-radius: 3px;
}
#latest-blog .blog-item .blog-btns a:hover {
  background: var(--background-color);
  color: var(--text-color-white);
}

#latest-blog .feature-heading {
  font-family: var(--primary-font);
}

#latest-blog .bottom-border {
  margin: 10px 80px;
  border-bottom: 2px solid #26a0da;
}

#latest-blog .bottom-border2 {
  margin: 10px 110px 0px 110px;
  border-bottom: 3px solid #26a0da;
}
#latest-blog .button {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 1px;
  margin: 100px 0px 50px 0px;
  background: var(--background-color);
}

#latest-blog .viewmorebtn {
  position: absolute;
  text-align: center;
  align-items: center;
  padding: 7px 40px;
  top: -25px;
  font-family: var(--secondary-font);
  justify-content: center;
  margin: auto;
  text-decoration: none;
  width: 150px;
  border-radius: 3px;
  color: var(--text-color-blue);
  letter-spacing: 5px;
  font-weight: bold;
  background: var(--text-color-white);
  border: 2px solid var(--text-color-blue);
  transition: 0.5s ease;
}

#latest-blog .viewmorebtn:hover {
  background-color: #26a0da;
  color: white;
}
/* Latest Blog End */

/* Top Rated & Selling Product Start */
/* Top Rated & Selling Product End */

/* Get Many offers Start */
#get-offer {
  margin: 100px 0px 0px 0px;
  background: var(--background-color);
}

#get-offer .offer {
  padding-top: 100px !important;
  padding-bottom: 50px;
  align-items: center;
}

#get-offer .offer-img {
  margin-bottom: 50px;
  position: relative;
  display: inline-block;
}

#get-offer .offer-img img {
  width: 100%;
  margin: 0px 0;
}

#get-offer .offer-img a img {
  width: 30px;
  height: 30px;
}

#get-offer .offer-img .img-text h1 {
  font-family: var(--primary-font);
  white-space: nowrap;
  font-size: 28px;
}

#get-offer .offer-img .img-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

#get-offer .offer-img a {
  text-decoration: none;
  font-size: 18px;
  color: var(--text-color-white);
  font-family: var(--secondary-font);
}

.sign-up h1 {
  color: var(--text-color-black);
  font-family: var(--primary-font);
}

.sign-up h2 {
  color: var(--item-color);
  font-family: var(--primary-font);
}

.sign-up p {
  color: var(--text-color-white);
  font-family: var(--primary-font);
  font-size: 18px;
}

.sign-up p span {
  font-size: 28px;
  color: var(--item-color);
}

#get-offer .sign-up form {
  display: flex;
  justify-content: space-between;
  background: white;
  border-radius: 5px;
}

#get-offer .sign-up form a {
  font-family: var(--secondary-font);
  padding: 10px;
  font-size: 22px; 
  text-decoration: none;
  background: var(--item-color);
  color: var(--text-color-white);
  border-radius: 5px;
  margin: 10px;
}

#get-offer .sign-up {
  margin-bottom: 50px;
}

#get-offer .sign-up input {
  width: 100%;
  padding: 15px;
  font-family: var(--secondary-font);
  font-size: 22px;
  background: none;
  border: none;
  outline: none;
}

/* Get Many offers End */
