@import url("https://fonts.googleapis.com/css2?family=K2D&display=swap");

@font-face {
  font-family: fonts;
  src: url(../fonts/fonts/ttf/OtomanopeeOne-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Scrollbar Start */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(38, 160, 218, 1);
  border-radius: 10px;
}
/* Scrollbar End */


/* Back to button Start */
html {
  scroll-behavior: smooth;
}

#progress {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 70px;
  width: 70px;
  display: none;
  place-items: center;
  border-radius: 8%;
  cursor: pointer;
  z-index: 999999999;
}

#progress-value {
  display: block;
  height: calc(100% - 12px);
  width: calc(100% - 12px);
  background-color: var(--item-color);
  border-radius: 8%;
  display: grid;
  place-items: center;
  font-size: 35px;
  border: 3px solid rgba(236, 236, 236, 0.601);
}

/* Back to button End */

/* Variable */
:root {
  --box-shadow: 0 0 10px hsl(0, 0%, 0%, 0.15);
  --primary-font: fonts;
  --secondary-font: K2D;
  --border-and-color: 1px solid rgba(38, 160, 218, 1);
  --text-color-black: black;
  --background-color: rgba(38, 160, 218, 1);
  --text-color-white: rgba(255, 255, 255, 1);
  --text-color-blue: rgba(38, 160, 218, 1);
  --item-color: rgba(255, 184, 0, 1);
  --shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
}

/* Hero Slider Start */
#hero-slider {
  position: relative;
  display: flex;
}
.mySwiper {
  display: flex;
  height: 700px;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-bottom: 3px solid #26a0da;
  background-image: url(../img/home-img/hero-slider/slider-bg.png) !important;
}

.hero-slider-header h1 {
  margin: 0px 0px 10px 0px;
  font-size: 52px;
  font-family: var(--primary-font);
}

.hero-slider-header .header {
  padding-top: 120px;
}

.hero-slider-header h1 span {
  color: var(--text-color-blue);
}

.hero-slider-item {
  justify-content: space-between;
}

.hero-slider-item p {
  margin-top: 20px;
  font-size: 18px;
  font-family: var(--secondary-font);
}

.hero-slider-item button {
  transition: all 0.3s ease;
  border: none;
  font-size: 22px;
  padding: 12px 32px;
  box-shadow: var(--box-shadow);
  border-radius: 3px;
  margin-top: 10px;
  background: rgba(67, 180, 224, 0.79);
  font-family: var(--secondary-font);
}

.hero-slider-item button:hover {
  border: none;
  padding: 12px 32px;
  background: var(--background-color);
}

.hero-slider-item button a {
  text-decoration: none;
  color: var(--text-color-white);
}

.hero-slider-item .swiper-img {
  padding: 20px;
}

.hero-slider-item .swiper-img img {
  max-width: 640px;
  height: auto;
  margin-top: -175px;
  margin-left: -80px;
}

.swiper-pagination-bullets-dynamic {
  justify-content: center !important;
  transform: translateY(-50px) translateX(-50px) !important;
}

#hero-slider .swiper-pagination {
  position: absolute;
  bottom: 30px !important;
}

.swiper-pagination-bullet {
  border-radius: 3px !important;
  opacity: 1 !important;
  justify-content: center !important;
  padding-top: -30px !important;
  background: transparent !important;
  width: 12px !important;
  height: 12px !important;
  border: 1px solid #00aeff !important;
  margin: 0 8px !important;
}

.swiper-pagination-bullet-active {
  justify-content: center !important;
  background: #26a0da !important;
  border-radius: 3px !important;
  border: none !important;
  transform: scale(1.5);
}

@media screen and (max-width: 1200px) {
  .hero-slider-item .swiper-img img {
    margin-top: -70px;
    max-width: 500px;
  }

  .hero-slider-header {
    margin-top: 80px;
  }

  .hero-slider-header h1 {
    font-size: 45px;
  }
}

@media screen and (max-width: 992px) {
  .mySwiper {
    height: 800px;
  }

  .hero-slider-item .swiper-img img {
    width: 100%;
    margin-top: -50px;
    margin-left: 0px;
  }

  .hero-slider-header h1 {
    font-size: 35px;
  }

  .hero-slider-header .header {
    padding-top: 50px;
  }

  .hero-slider-item p {
    font-size: 14px;
  }

  .hero-slider-item button {
    font-size: 18px;
    padding: 10px 25px;
  }

  .hero-slider-item button:hover {
    font-size: 18px;
    padding: 10px 25px;
  }
}

@media screen and (max-width: 768px) {
  .hero-slider-header h1 {
    font-size: 25px;
  }

  .hero-slider-item .swiper-img img {
    margin-top: 0px;
    width: 90%;
  }

  .swiper-pagination-bullets-dynamic {
    justify-content: center !important;
    transform: translateY(-20px) translateX(-50px) !important;
  }
}

@media screen and (max-width: 575px) {
  .mySwiper {
    height: 700px;
  }

  .hero-slider-header h1 {
    font-size: 25px;
  }

  .hero-slider-item .swiper-img img {
    margin-top: 0px;
    width: 90%;
  }

  .swiper-pagination-bullets-dynamic {
    justify-content: center !important;
    transform: translateY(-20px) translateX(-50px) !important;
  }

  .hero-slider-item button {
    font-size: 16px;
    padding: 8px 16px;
  }

  .hero-slider-item button:hover {
    font-size: 16px;
    padding: 8px 16px;
  }
}
/* Hero Slider End */

/* Feature Categories Start */
.feature {
  padding: 100px 0px 120px 0px;
  text-align: center;
  overflow: hidden;
}

.card-wrapper {
  margin: 50px 0;
  cursor: pointer !important;
}

.swiper {
  position: relative;
}

.feature .feature-heading {
  font-family: var(--primary-font);
  margin: auto;
  display: flex;
  justify-content: center !important;
  align-items: center;
  text-align: center;
  font-size: 14px;
  overflow: hidden;
}
.feature .feature-heading h1 {
  font-size: 25px;
}

.feature-heading .bottom-border {
  margin: 0px 40px;
  border-bottom: 2px solid #26a0da;
}

.feature-heading .bottom-border2 {
  margin: 5px 50px 0px 50px;
  border-bottom: 2px solid #26a0da;
}

.card-wrapper .card {
  transition: all 0.3s ease;
  font-family: var(--secondary-font);
  align-items: center;
  justify-content: center;
  height: auto !important;
  text-align: center;
  background: #fff;
  border-radius: 8px;
  border: 1px solid #26a0da !important;
}

.card-wrapper .card:hover {
  box-shadow: var(--box-shadow);
}

.card-wrapper .card:hover .card-details .name h3 {
  color: var(--text-color-blue);
}

.card-wrapper .card .image-box {
  width: 100%;
}

.card-wrapper .card .image-box img {
  padding: 10px 0px 12px 0px;
  width: 100%;
  aspect-ratio: 2/1 !important;
}

.card-wrapper .card .card-details {
  padding: 50px 0px 10px 0px;
}

.card-wrapper .card-details .name h3 {
  font-size: 22px;
  transition: all 0.3s;
}

.card-wrapper .card-details .name {
  margin-top: -30px !important;
  font-weight: 500;
}

.feature .slider-btn-item {
  position: relative;
  width: 200px;
  margin: auto;
}

#feature-category .next-btn {
  position: relative;
  border: var(--border-and-color);
  width: 55px;
  height: 55px;
  padding: 10px 10px 10px 10px;
  border-radius: 4px;
  overflow: hidden;
  margin-left: -30px !important;
  transition: 1s ease;
}

#feature-category .next-btn:hover {
  background: #26a0da;
}

#feature-category .swiper-button-next:hover svg path {
  fill: var(--text-color-white) !important;
}

#feature-category .next-btn::before {
  content: "";
  position: absolute;
  height: 100px !important;
  width: 15px !important;
  background: rgba(255, 255, 255, 0.701);
  opacity: 0.8;
  top: -20px;
  left: 12px;
  transition: 0.5s ease-in;
  transform: rotate(10deg) translateX(-40px);
}

#feature-category .next-btn:hover:before {
  transform: rotate(10deg) translate(60px, -10px);
}

#feature-category .next-btn::after {
  content: "";
  position: absolute;
  height: 100px !important;
  width: 8px !important;
  background: rgba(255, 255, 255, 0.701);
  opacity: 0.8;
  filter: blur(1px);
  top: -20px;
  left: 0px;
  transition: 0.5s ease-in;
  transform: rotate(10deg) translateX(-40px);
}

#feature-category .next-btn:hover::after {
  transform: rotate(10deg) translate(60px, -10px);
}

#feature-category .prev-btn {
  position: relative;
  border: var(--border-and-color);
  width: 55px;
  height: 55px;
  padding: 10px 10px 10px 10px;
  border-radius: 4px;
  overflow: hidden;
  margin-right: -30px !important;
  transition: 1s ease;
}

#feature-category .prev-btn:hover {
  background: #26a0da;

}

#feature-category .swiper-button-prev:hover svg path {
  fill: var(--text-color-white) !important;
}

#feature-category .prev-btn::before {
  content: "";
  position: absolute;
  height: 100px !important;
  width: 15px !important;
  background: rgba(255, 255, 255, 0.701);
  opacity: 0.8;
  top: -20px;
  left: 12px;
  transition: 0.5s ease-in;
  transform: rotate(10deg) translateX(-40px);
}

#feature-category .prev-btn:hover:before {
  transform: rotate(10deg) translate(60px, -10px);
}

#feature-category .prev-btn::after {
  content: "";
  position: absolute;
  height: 100px !important;
  width: 8px !important;
  background: rgba(255, 255, 255, 0.701);
  opacity: 0.8;
  filter: blur(1px);
  top: -20px;
  left: 0px;
  transition: 0.5s ease-in;
  transform: rotate(10deg) translateX(-40px);
}

#feature-category .prev-btn:hover::after {
  transform: rotate(10deg) translate(60px, -10px);
}

.swiper-button-prev::after {
  display: none;
}

.swiper-button-next::after {
  display: none;
}

/* Feature Categories End */



/* Offer Sec Start */

#offer .offer-item1 img {
  width: 100%;
  max-width: 300px;
  aspect-ratio: 1/1;
}
#offer .offer-title1 {
  padding-top: 5px;
}

#offer .offer-item1 {
  border-radius: 3px;
  background: var(--background-color);
  border-radius: 6px;
  padding: 20px;
}


#offer .offer-item1 .offer-title1 p {
  font-size: 16px;
  color: var(--item-color);
  margin-bottom: 0px;
  font-family: var(--secondary-font);
  text-wrap: nowrap;
}

#offer .offer-item1 .offer-title1 h1 {
  color: var(--text-color-white);
  font-family: var(--primary-font);
  font-size: 35px;
  margin: 0px;
  text-wrap: nowrap;
  padding-top: 10px;
  
}
#offer .offer-item1 .offer-title1 h4 {
  color: var(--text-color-white);
  font-family: var(--primary-font);
  font-size: 30px;
  margin: 0px;
  padding-top: 12px;

}

#offer .offer-item1 .offer-title1 h6 {
  color: var(--text-color-white);
  display: flex;
  font-size: 16px;
  align-items: center;
  margin-bottom: 0px;
  padding-top: 15px;
  font-family: var(--secondary-font);
}

#offer .offer-item1 .offer-title1 h6 span {
  padding-left: 10px;
  color: var(--item-color);
  font-family: var(--primary-font);
  font-size: 30px;
  margin: 0px 0;
}

#offer .offer-item1 .offer-title1 .offer-button1 {
  margin: 30px 0px 20px 0px;
}

#offer .offer-item1 .offer-title1 a {
  text-decoration: none;
  font-size: 22px;
  font-family: var(--secondary-font);
  padding: 12px 30px;
  background: #ffb700e1;
  color: var(--text-color-white);
  border-radius: 3px;
  margin-top: 50px !important;
  transition: all 0.3s;
}

#offer .offer-item1 .offer-title1 a:hover {
  background: #ffb800;
}


/* #offer .offer-item2 .offer-title2 {
 text-align: right;
}

#offer .offer-item2 {
  border-radius: 3px;
  background: url(../img/home-img/offer-img/offer-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #A8BBC7;
  border-radius: 6px;
  padding: 20px;
 
}

#offer .offer-item2 img {
  width: 100%;
  max-width: 290px;
  aspect-ratio: 1/1;
}


#offer .offer-item2 .offer-title2 p {
 margin: 0px 0px 12px 0px;
 float: right;
 text-wrap: nowrap;
 font-size: 16px;
 font-family: var(--secondary-font);
 color: var(--text-color-blue);

 
 
}
#offer .offer-item2 .offer-title2 {
 
 
}

#offer .offer-item2 .offer-title2 h4{
  font-size: 30px;
  font-family: var(--primary-font);
  margin: 0px;
  float: right;
  
  
 
}

#offer .offer-item2 .offer-title2 h1 {
  float: right;
  text-wrap: nowrap;
  margin: 0px;
  padding: 10px 0px 15px 0px;
  font-size: 35px;
  font-family: var(--primary-font);
 
}

#offer .offer-item2 .offer-title2 h6 {
   color: var(--text-color-black);
   font-size: 16px;
   margin: 0px;
   padding-bottom: 33px;
   float: right;
   display: flex;
   align-items: center;
   font-family: var(--secondary-font);
}

#offer .offer-item2 .offer-title2 h6 span {
  font-size: 30px;
  padding-left: 10px;
  color: var(--item-color);
  font-family: var(--secondary-font);
  font-family: var(--primary-font);
}

#offer .offer-item2 .offer-title2 .offer-button2 {
  margin: 30px 0px 20px 0px;
  display: block;
}


#offer .offer-item2 .offer-title2 a {
  text-decoration: none;
  background: #00abfae6;
  color: var(--text-color-white);
  border-radius: 3px;
  font-size: 22px;
  font-family: var(--secondary-font);
  padding: 12px 30px;
  color: var(--text-color-white);
  transition: all 0.3s;
} */

#offer .offer-item2 .offer-title2 a:hover {
  background: #26a0da;
}



@media screen and (max-width: 1200px) {
  #offer .offer-item1 {
    margin: 20px 0;
  }

 
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
  #offer .offer-item1 .offer-title1 {
    text-align: center;
  }

  #offer .offer-item1 .offer-title1 h6 {
    justify-content: center;
  }

  #offer .offer-item1 img {
    position: relative;
    width: 100%;
    margin: 20px;
    max-width: 100%;
    margin: 0px;
    
  }
  
  #offer .offer-item1 .offer-title1 h6 span {
    margin: 0px 0;
  }
}

@media screen and (max-width: 1200px) {
}
/* Offer Sec End */


/* Trending Products Start */
.trending {
  padding: 100px 0px 120px 0px;
  text-align: center;
  overflow: hidden;
}

.trending .card-wrapper {
  margin: 50px 0;
}

.trending .swiper {
  position: relative;
}

.trending .trending-heading {
  font-family: var(--primary-font);
  margin: auto;
  display: flex;
  justify-content: center !important;
  align-items: center;
  text-align: center;
  font-size: 14px;
  overflow: hidden;
}
.trending .trending-heading h1 span {
  color: var(--item-color);
}

.trending .trending-heading .bottom-border {
  margin: 0px 80px;
  border-bottom: 2px solid #26a0da;
}

.trending .trending-heading .bottom-border2 {
  margin: 5px 110px 0px 110px;
  border-bottom: 2px solid #26a0da;
}

.trending .card-wrapper .card {
  transition: all 0.3s ease;
  font-family: var(--secondary-font);
  height: auto !important;
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #a8bbc7 !important;
}

.trending .card-wrapper .card:hover {
  border: 1px solid #26a0da !important;
}

.trending .product {
  overflow: hidden;
  position: relative;
  padding: 50px 20px;
  position: relative;
  text-align: center;
  transition: all 0.3s ease;
  background: var(--text-color-white);
  border-radius: 5px;
}

.trending .product-img-box img {
  width: 100%;
  aspect-ratio: 1/1;
}

.trending .product-img {
  transition: all 0.3s ease;
  max-width: 65%;
  display: block;
  margin: auto;
  transition: transform 0.3s ease;
}

.trending .review-star a {
  text-decoration: none;
}

.trending .review-star {
  padding-top: 20px;
}

.trending .review-star i {
  color: var(--item-color) !important;
}

.trending .product-title {
  margin: 20px 0 25px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
}

.trending .product-title a {
  font-size: 22px;
  font-family: var(--primary-font);
  text-decoration: none;
  color: var(--text-color-black);
}

.trending .product-price {
  position: absolute;
  bottom: 20px;
  left: 35%;
  font-size: 28px;
  line-height: 1;
  font-weight: 500;
  color: var(--item-color);
}

.trending .product-icon-btns {
  z-index: 44444;
  position: absolute;
  top: 15px;
  right: 1px;
  flex-direction: column;
  display: flex;
}

.trending .product-icon-btns a {
  opacity: 0;
  text-decoration: none;
  border: var(--border-and-color);
  box-shadow: var(--box-shadow);
  display: flex;
  width: 35px;
  height: 35px;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  margin-bottom: 6px;
  border-radius: 5px;
  color: var(--text-color-blue);
  transition: all 0.3s ease;
  position: relative;
}

.trending .product:hover .product-icon-btns a {
  opacity: 1;
  transform: translate(-15px);
 
}

.trending .product-icon-btns a:hover .product-tooltip {
  opacity: 1;
  transform: translate(18px);
}
.trending .product-icon-btns a:hover .product-img {
  opacity: 0.4 !important;
 
}

.trending .product-icon-btns a:hover{
  background: var(--background-color);
  color: var(--text-color-white);
}

.trending .product-icon-btns .product:hover .product-icon-btns a:nth-child(2) {
  transition-delay: 0.1s;
}

.trending .product-icon-btns .product:hover .product-icon-btns a:nth-child(2) {
  transition-delay: 0.1s;
}

.trending .product-icon-btns .product:hover .product-icon-btns a:nth-child(3) {
  transition-delay: 0.2s;
}

.trending .product {
  width: 100%;
  border-radius: 5px;
}

.trending .product-icon-btns .product-tooltip {
  font-family: var(--secondary-font);
  position: absolute;
  top: 1px;
  right: 52px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  transform: translateX(50%);
  background: #314755;
  color: var(--text-color-white);
  font-size: 18px;
  padding: 2px 15px;
  white-space: nowrap;
  opacity: 0;
  transition: all 0.3s ease;
}

#trending-product .trending-btn-item {
  position: relative;
  width: 200px;
  margin: auto;
}

#trending-product .next-btn {
  position: relative;
  border: var(--border-and-color);
  width: 55px;
  height: 55px;
  padding: 10px 10px 10px 10px;
  border-radius: 4px;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
  margin-left: -30px !important;
}

#trending-product .next-btn:hover {
  background: #26a0da;
}

#trending-product .swiper-button-next:hover svg path {
  fill: var(--text-color-white) !important;
}

#trending-product .next-btn::before {
  content: "";
  position: absolute;
  height: 100px !important;
  width: 15px !important;
  background: rgba(255, 255, 255, 0.815);
  filter: blur( 2px);
  opacity: 0.8;
  top: -20px;
  right: 14px;
  transition: 1.5s;
  transform: rotate(-10deg) translateX(40px);
}

#trending-product .next-btn:hover:before {
  transform: rotate(-10deg) translate(-60px, -10px);
}

#trending-product .next-btn::after {
  content: "";
  position: absolute;
  height: 100px !important;
  width: 8px !important;
  background: rgba(255, 255, 255, 0.815);
  filter: blur(2px) !important;
  opacity: 0.8;
  filter: blur(1px);
  top: -20px;
  right: 0px;
  transition: 1.5s;
  transform: rotate(-10deg) translateX(40px);
}

#trending-product .next-btn:hover::after {
  transform: rotate(-10deg) translate(-60px, -10px);
}

#trending-product .prev-btn {
  position: relative;
  border: var(--border-and-color);
  width: 55px;
  height: 55px;
  padding: 10px 10px 10px 10px;
  border-radius: 4px;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
  margin-right: -30px !important;
}

#trending-product .prev-btn:hover {
  background: #26a0da;
}

#trending-product .swiper-button-prev:hover svg path {
  fill: var(--text-color-white) !important;
}

#trending-product .prev-btn::before {
  content: "";
  position: absolute;
  height: 100px !important;
  width: 15px !important;
  background: rgba(255, 255, 255, 0.815);
  filter: blur(2px) !important;
  opacity: 0.8;
  top: -20px;
  left: 12px;
  transition: 1.5s;
  transform: rotate(10deg) translateX(-40px);
}

#trending-product .prev-btn:hover:before {
  transform: rotate(10deg) translate(60px, -10px);
}

#trending-product .prev-btn::after {
  content: "";
  position: absolute;
  height: 100px !important;
  width: 8px !important;
  background: rgba(255, 255, 255, 0.815);
  filter: blur(2px) !important;
  opacity: 0.8;
  filter: blur(1px);
  top: -20px;
  left: 0px;
  transition: 1.5s;
  transform: rotate(10deg) translateX(-40px);
}

#trending-product .prev-btn:hover::after {
  transform: rotate(10deg) translate(60px, -10px);
}

.trending .swiper-button-prev::after {
  display: none;
}

.trending .swiper-button-next::after {
  display: none;
}
/* Trending Products End */

/* All Product Start */
#all-product h1 {
  font-family: var(--primary-font);
  color: var(--text-color-black);
  padding: 0px 0px 0px 0px !important;
}

#all-product .heading-bottom-bar {
  width: 180px;
  height: 2px;
  background: var(--background-color);
}

#all-product .heading-bottom-bar2 {
  margin: 5px 0px 50px 0px !important;
  margin-top: 10px;
  width: 140px;
  height: 2px;
  background: var(--background-color);
  margin-bottom: 50px;
}

#all-product .product {
  overflow: hidden;
  margin: 20px 0;
  position: relative;
  padding: 50px 20px;
  position: relative;
  text-align: center;
  transition: all 0.3s ease;
  background: var(--text-color-white);
  border: 1px solid skyblue;
  border-radius: 5px;
}

#all-product .product-img-box {
  overflow: hidden;
}

#all-product .product-img-box img {
  width: 100%;
  aspect-ratio: 1/1;
}

#all-product .product-img {
  transition: all 0.3s ease;
  max-width: 65%;
  display: block;
  margin: auto;
  transition: transform 0.3s ease;
}

#all-product .product:hover .product-img {
  transform: translateX(-5px);
  opacity: 0.4;
}

#all-product .product:hover {
  box-shadow: 0 0 10px hsl(0, 0%, 0%, 0.15);
}

#all-product .review-star a {
  text-decoration: none;
}

#all-product .review-star {
  padding-top: 20px;
}

#all-product .review-star i {
  color: var(--item-color) !important;
}

#all-product .product-title {
  margin: 25px 0 15px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
}

#all-product .product-title a {
  font-size: 22px;
  font-family: var(--primary-font);
  text-decoration: none;
  color: var(--text-color-black);
}

#all-product .product-price {
  position: absolute;
  bottom: 20px;
  left: 35%;
  font-size: 28px;
  line-height: 1;
  font-weight: 500;
  color: var(--item-color);
}

#all-product .product-icon-btns {
  z-index: 44444;
  position: absolute;
  top: 15px;
  right: 1px;
  flex-direction: column;
  display: flex;
}

#all-product .product-icon-btns a {
  opacity: 0;
  text-decoration: none;
  border: 1px solid skyblue;
  box-shadow: var(--box-shadow);
  display: flex;
  width: 30px;
  height: 30px;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  margin-bottom: 6px;
  border-radius: 5px;
  color: var(--text-color-blue);
  transition: all 0.3s ease;
  position: relative;
}
#all-product .product-icon-btns a:hover .product-tooltip {
  opacity: 1;
  transform: translate(23px);
}

#all-product
  .product-icon-btns
  .product:hover
  .product-icon-btns
  a:nth-child(2) {
  transition-delay: 0.1s;
}

#all-product
  .product-icon-btns
  .product:hover
  .product-icon-btns
  a:nth-child(2) {
  transition-delay: 0.1s;
}

#all-product
  .product-icon-btns
  .product:hover
  .product-icon-btns
  a:nth-child(3) {
  transition-delay: 0.2s;
}

#all-product .product {
  width: 100%;
  border-radius: 5px;
}

#all-product .product-icon-btns .product-tooltip {
  font-family: var(--secondary-font);
  position: absolute;
  top: 1px;
  right: 52px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  transform: translateX(50%);
  background: #314755;
  color: var(--text-color-white);
  font-size: 12px;
  padding: 4px 8px;
  white-space: nowrap;
  opacity: 0;
  transition: all 0.2s ease;
}

#all-product .button {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 1px;
  margin: 50px 0;
  background: var(--background-color);
}

#all-product .viewmorebtn {
  position: absolute;
  text-align: center;
  align-items: center;
  padding: 7px 40px;
  top: -22px;
  font-family: var(--secondary-font);
  justify-content: center;
  margin: auto;
  text-decoration: none;
  width: 150px;
  border-radius: 3px;
  color: var(--text-color-blue);
  letter-spacing: 5px;
  font-weight: bold;
  background: var(--text-color-white);
  border: 2px solid var(--text-color-blue);
  transition: 0.5s ease;
}

#all-product .viewmorebtn:hover {
  background-color: #26a0da;
  color: white;
}

@media (min-width: 350px) {
  #all-product .all-icon-btns a {
    opacity: 0;
    transform: translate(-10px);
  }

  #all-product .product:hover .product-icon-btns a {
    opacity: 1;
    transform: translateX(-80%);
  }
}

@media screen and (max-width: 600px) {
  #all-product h1 {
    padding-left: 10px;
  }

  #all-productt .heading-bottom-bar {
    margin-left: 10px;
  }

  #all-product .heading-bottom-bar2 {
    margin-left: 10px;
  }
}
/* All Product End */

/* Deal Section Start */
#deals {
  margin-top: 100px;
}

#deals .deals {
  border: var(--border-and-color);
  box-shadow: var(--box-shadow);
  border-radius: 5px;
}

#deals .deals .deals-title {
  text-align: center;
  margin-top: 50px;
}

#deals .deals .deals-title .timer-heading {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

#deals .deals .deals-title .timer-heading h1 {
  font-size: 22px;
  margin-bottom: 0px;
  font-family: var(--primary-font);
  color: var(--text-color-blue);
  padding-left: 10px;
}

#deals .deals .deals-title h1 {
  font-size: 22px;
  font-family: var(--primary-font);
  margin-bottom: 0px;
  padding: 8px 0px 12px 0px;
}

#deals .deals .deals-title a {
  font-size: 30px;
  font-family: var(--primary-font);
  color: var(--text-color-white);
  text-decoration: none;
  background: var(--background-color);
  padding: 8px 10px;
  border-radius: 5px;
}

#deals .deals .deals-item .deals-template {
  display: flex;
  align-items: center;
}

#deals .deals .deals-item .deals-template h1 {
  display: flex;
  align-items: center;
  display: block;
  font-size: 40px;
  font-family: var(--primary-font);
  padding-top: 20px;
}

#deals .deals .deals-item .deals-template h1 span {
  font-size: 55px;
  font-family: var(--secondary-font);
}

#deals .deals .deals-item .deals-template svg {
  margin: 0px 40px;
}

#deals .deals .deals-item .product-details {
  margin: 80px 40px 50px 40px;
}

#deals .deals .deals-item .product-details h1 {
  font-size: 35px;
  font-family: var(--primary-font);
}

#deals .deals .deals-item .product-details h2 {
  font-size: 30px;
  font-family: var(--primary-font);
  color: var(--item-color);
  margin-top: 50px;
}

#deals .deals .deals-item .product-details h2 span {
  text-decoration: line-through;
  color: #a8bbc7;
  margin-right: 20px;
}

#deals .deals .deals-item .deals-slider {
  display: flex;
  justify-content: space-around;
}

#deals .deals .deals-item .deals-slider .deals-product {
  max-width: 64%;
  display: flex;
  align-items: center;
}

#deals .deals .deals-item .deals-slider .deals-product img {
  width: 100%;
  margin-bottom: 50px;
}

#deals .deal-slider-item {
  position: relative;
  height: 378px !important;
  display: flex;
  justify-content: center;
}

#deals .swiper {
  width: 60%;
  height: 295px;
  display: flex !important;
  justify-content: center !important;
  margin: 0px 0px 0px 0px !important;
}

#deals .deal-next {
  position: absolute;
  left: 44.5% !important;
  top: 89% !important;
  transition: all 0.5s;
}
#deals .deal-next:hover svg path {
  fill: #26a0da !important;
}

#deals .deal-prev:hover svg path {
  fill: #26a0da !important;
}

#deals .deal-prev {
  position: absolute;
  left: 44.5% !important;
  top: -6% !important;
}

#deals .slider-item {
  display: flex;
  align-items: center;
  width: 99% !important;
  border: var(--border-and-color);
  border-radius: 5px;
}

#deals .slider-item:hover {
  box-shadow: var(--box-shadow);
}

#deals .slider-item img {
  width: 100%;
}
#deals .deals-product img {
  width: 100%;
  padding: 20px 0px 0px 0px;
}

#deals .swiper-button-next::after {
  display: none !important;
}

#deals .swiper-button-prev::after {
  display: none !important;
}

@media screen and (max-width: 1400px) {
  #deals .deal-slider-item {
    height: 300px !important;
    margin-top: 10px;
  }
  #deals .deal-next {
    left: 42.5% !important;
    top: 325px !important;
    transition: all 0.5s;
  }

  #deals .deal-prev {
    left: 43.5% !important;
    top: -4% !important;
  }
}

@media screen and (max-width: 1200px) {
  #deals .deal-slider-item {
    height: 300px !important;
    margin-top: 50px;
  }

  #deals .swiper {
    width: 60%;
    height: 245px;
  }

  #deals .deals .deals-item .deals-template h1 {
    font-size: 29px;
    padding-top: 20px;
  }

  #deals .deals .deals-item .deals-template h1 span {
    font-size: 40px;
    padding-top: 20px;
  }

  #deals .deals .deals-item .deals-template svg {
    width: 140px !important;
  }

  #deals .deals .deals-item .product-details {
    margin: 80px 40px 40px 40px;
  }
  #deals .deals .deals-item .product-details h1 {
    font-size: 28px;
  }

  #deals .deals .deals-item .product-details h2 {
    font-size: 26px;
    margin-top: 40px;
  }
  #deals .deal-next {
    left: 42.5% !important;
    top: 93% !important;
    transition: all 0.5s;
  }

  #deals .deal-prev {
    left: 42.5% !important;
    top: -5% !important;
  }
}

@media screen and (max-width: 992px) {
  #deals .deal-slider-item {
    margin-top: 30px;
    height: 360px !important;
  }

  #deals .swiper {
    width: 50%;
    height: 285px !important;
  }

  #deals .deals .deals-item .deals-template {
    padding-top: 20px;
  }

  #deals .deals .deals-item .deals-template h1 {
    font-size: 29px;

    padding-top: 20px;
  }

  #deals .deals .deals-item .deals-template h1 span {
    font-size: 40px;

    padding-top: 20px;
  }

  #deals .deals .deals-item .deals-template svg {
    width: 140px !important;
  }

  #deals .deals .deals-item .product-details {
    margin: 40px;
  }
  #deals .deals .deals-item .product-details h1 {
    font-size: 28px;
  }

  #deals .deals .deals-item .product-details h2 {
    font-size: 26px;
    margin-top: 20px;
  }

  #deals .deal-next {
    left: 42.5% !important;
    top: 88% !important;
    transition: all 0.5s;
  }

  #deals .deal-prev {
    left: 43.5% !important;
    top: -4% !important;
  }
  #deals .deals .deals-item .deals-slider .deals-product img {
    padding-left: 40px;
  }
}

@media screen and (max-width: 768px) {
  #deals .deal-slider-item {
    margin-top: 50px;
    height: 320px !important;
  }

  #deals .swiper {
    width: 50%;
    height: 245px !important;
  }

  #deals .deals .deals-item .deals-template {
    padding-top: 20px;
  }

  #deals .deals .deals-item .deals-template h1 {
    font-size: 26px;
    padding-top: 20px;
  }

  #deals .deals .deals-item .deals-template h1 span {
    font-size: 38px;

    padding-top: 20px;
  }

  #deals .deals .deals-item .deals-template svg {
    width: 135px !important;
  }

  #deals .deals .deals-item .product-details {
    margin: 40px;
  }

  #deals .deals .deals-item .product-details h1 {
    font-size: 26px;
  }

  #deals .deals .deals-item .product-details h2 {
    font-size: 25px;
    margin-top: 20px;
  }

  #deals .deal-next {
    left: 42.5% !important;
    top: 86% !important;
    transition: all 0.5s;
  }

  #deals .deal-prev {
    left: 43.5% !important;
    top: -4% !important;
  }

  #deals .deals .deals-item .deals-slider .deals-product img {
    padding-left: 40px;
  }
}

@media screen and (max-width: 575px) {
  #deals .deal-slider-item {
    margin-top: 40px !important;
    height: 328px !important;
  }

  #deals .swiper {
    width: 60%;
    height: 250px;
    margin-top: 10px !important;
  }

  #deals .deals .deals-item .deals-template {
    padding-top: 20px;
  }

  #deals .deals .deals-item .deals-template h1 {
    font-size: 22px;

    padding-top: 20px;
  }

  #deals .deals .deals-item .deals-template h1 span {
    font-size: 35px;

    padding-top: 20px;
  }

  #deals .deals .deals-item .deals-template svg {
    width: 100px !important;
    margin: 0px 20px;
  }

  #deals .deals .deals-item .product-details {
    margin: 25px;
  }

  #deals .deals .deals-item .product-details h1 {
    font-size: 25px;
  }

  #deals .deals .deals-item .product-details h2 {
    font-size: 26px;
    margin-top: 20px;
  }
  #deals .deal-next {
    left: 42.5% !important;
    top: 88% !important;
    transition: all 0.5s;
  }

  #deals .deal-prev {
    left: 43.5% !important;
    top: -2% !important;
  }

  #deals .deals .deals-item .deals-slider .deals-product img {
    padding-left: 20px;
  }
}

@media screen and (max-width: 450px) {
  #deals .deal-slider-item {
    margin-top: 30px !important;
    height: 268px !important;
  }

  #deals .swiper {
    width: 60%;
    height: 195px !important;
    margin-top: 10px !important;
  }

  #deals .deals .deals-item .deals-template {
    padding-top: 20px;
  }

  #deals .deals .deals-item .deals-template h1 {
    font-size: 22px;

    padding-top: 20px;
  }

  #deals .deals .deals-item .deals-template h1 span {
    font-size: 35px;

    padding-top: 20px;
  }

  #deals .deals .deals-item .deals-template svg {
    width: 100px !important;
    margin: 0px 20px;
  }

  #deals .deals .deals-item .product-details {
    margin: 25px;
  }

  #deals .deals .deals-item .product-details h1 {
    font-size: 25px;
  }

  #deals .deals .deals-item .product-details h2 {
    font-size: 26px;
    margin-top: 20px;
  }

  #deals .deal-next {
    left: 40.5% !important;
    top: 88% !important;
    transition: all 0.5s;
  }

  #deals .deal-prev {
    left: 40.5% !important;
    top: -1% !important;
  }

  #deals .deals .deals-item .deals-slider .deals-product img {
    padding-left: 20px;
  }
}
/* Deal Section End */

/* Latest Blog Start */
#latest-blog {
  padding: 100px 0px 0px 0px;
  text-align: center;
}

#latest-blog .blog-heading {
  font-family: var(--primary-font);
  margin: auto;
  display: flex;
  justify-content: center !important;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

#latest-blog .blog-heading span {
  color: var(--item-color);
}

#latest-blog .blog-heading .bottom-border {
  margin: 0px 30px;
  border-bottom: 2px solid #26a0da;
}

#latest-blog .blog-heading .bottom-border2 {
  margin: 5px 50px 10px 50px;
  border-bottom: 2px solid #26a0da;
}

#latest-blog .blog-item {
  margin: 50px 0px 0px 0px;
  border-radius: 5px;
  line-height: 1.5;
  position: relative;
  padding: 5px;
  border: var(--border-and-color);
  transition: all 0.3s ease;
}

#latest-blog .blog-item:hover {
  box-shadow: var(--box-shadow);
}

#latest-blog .blog-item p {
  padding-top: 10px;
  color: var(--text-color-blue);
}

#latest-blog .blog-item .title-box a {
  color: var(--text-color-black);
  font-size: 20px;
  font-family: var(--primary-font);
}

#latest-blog .blog-item .title-box {
  margin-bottom: 40px;
}

#latest-blog .blog-item .blog-title {
  padding-bottom: 10px;
}

#latest-blog .blog-item span {
  color: #7c8992;
  padding: 0px 20px;
  text-align: center;
  display: flex;
}

#latest-blog .blog-item a {
  text-decoration: none;
}

#latest-blog .blog-item .blog-btns {
  bottom: -13px;
  position: absolute;
  left: 10%;
  right: 10%;
  margin: auto;
}

#latest-blog .blog-item .blog-btns a {
  transition: all 0.3s ease;
  padding: 8px 40px;
  color: var(--text-color-blue);
  background: var(--text-color-white);
  border: var(--border-and-color);
  border-radius: 3px;
}

#latest-blog .blog-item .blog-btns a:hover {
  background: var(--background-color);
  color: var(--text-color-white);
}

#latest-blog .feature-heading {
  font-family: var(--primary-font);
}

#latest-blog .bottom-border {
  margin: 10px 80px;
  border-bottom: 2px solid #26a0da;
}

#latest-blog .bottom-border2 {
  margin: 10px 110px 0px 110px;
  border-bottom: 3px solid #26a0da;
}

#latest-blog .button {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 1px;
  margin: 100px 0px 50px 0px;
  background: var(--background-color);
}

#latest-blog .viewmorebtn {
  position: absolute;
  text-align: center;
  align-items: center;
  padding: 7px 40px;
  top: -22px;
  font-family: var(--secondary-font);
  justify-content: center;
  margin: auto;
  text-decoration: none;
  width: 150px;
  border-radius: 3px;
  color: var(--text-color-blue);
  letter-spacing: 5px;
  font-weight: bold;
  background: var(--text-color-white);
  border: 2px solid var(--text-color-blue);
  transition: 0.5s ease;
}

#latest-blog .viewmorebtn:hover {
  background-color: #26a0da;
  color: white;
}
/* Latest Blog End */

/* Top Rated Product Start */
#top-all-product {
  padding: 80px 0px 0px 0px;
}

#top-all-product .rated-product {
  display: flex;
  justify-content: space-around;
  border: 1px solid rgba(168, 187, 199, 1);
  border-radius: 10px;
  display: flex;
}

#top-all-product .rated-heading {
  text-align: center;
  font-size: 35px;
  padding-bottom: 50px;
  font-family: var(--primary-font);
}

#top-all-product .rated-heading span {
  color: var(--item-color);
}

#top-all-product .rated-product .rated-img-item {
  padding: 30px;
  position: relative;
  text-align: center;
}

#top-all-product .rated-product .rated-img-item img {
  width: 95% !important;
  border: 1px solid rgba(168, 187, 199, 1);
  padding: 20px 10px;
  border-radius: 10px;
}

#top-all-product .rated-product .rated-img-item svg {
  position: absolute;
  top: 30px;
  left: 50px;
  width: 50px;
}
#top-all-product .rated-product .rated-img-item .percent {
  position: absolute;
  top: 60px;
  left: 55px;
  width: 30px;
  color: var(--text-color-black);
}
#top-all-product .rated-product .rated-img-item .percent p {
  font-family: var(--secondary-font);
  color: var(--text-color-black);
  font-size: 12px;
}

#top-all-product .rated-product .rated-img-item .review-star {
  padding: 20px 0;
}

#top-all-product .rated-product .rated-img-item .review-star a {
  text-decoration: none;
  color: var(--item-color);
}

#top-all-product .rated-product .rated-img-item h1 {
  font-size: 23px;
  font-family: var(--primary-font);
  text-wrap: nowrap;
}

#top-all-product .rated-product .rated-img-item p {
  font-size: 28px;
  font-family: var(--primary-font);
  color: var(--item-color);
}
#top-all-product .rated-product .rated-img-item p span {
  color: rgba(168, 187, 199, 1);
  text-decoration: line-through;
  padding-right: 10px;
}

/* Top Rated Slider Start */

#top-all-product .top-rated-item {
  text-align: center;
}

#top-all-product .top-rated {
  position: relative;
  height: 480px;
}

#top-all-product .swiper {
  padding-bottom: 10px !important;
  padding: 5px;
  margin-top: 25px !important;
  width: 80%;
  height: 400px;
}

#top-all-product .rated-next {
  position: absolute;
  left: 40.5% !important;
  top: 90% !important;
  transition: all 0.5s;
}

#top-all-product .rated-next:hover svg path {
  fill: #26a0da !important;
}

#top-all-product .slider-item {
  display: flex;
  align-items: center;
  width: 100% !important;
  border-radius: 10px;
  border: var(--border-and-color) !important;
}

#top-all-product .slider-item:hover {
  box-shadow: var(--box-shadow);
}

#top-all-product .slider-item img {
  width: 100% !important;
  border-radius: 12px;
}

#top-all-product .swiper-button-next::after {
  display: none !important;
}

@media screen and (max-width: 1400px) {
  #top-all-product .rated-next {
    position: absolute;
    left: 40.5% !important;
    top: 90% !important;
  }

  #top-all-product .rated-product .rated-img-item h1 {
    font-size: 20px;
  }

  #top-all-product .rated-product .rated-img-item p {
    font-size: 25px;
  }
}

@media screen and (max-width: 1200px) {
  #top-all-product .rated-next {
    position: absolute;
    left: 38.5% !important;
    top: 92% !important;
  }

  #top-all-product .top-rated {
    height: 405px;
  }

  #top-all-product .swiper {
    height: 340px;
  }
}

@media screen and (max-width: 992px) {
  #top-all-product .rated-next {
    position: absolute;
    left: 42.5% !important;
    top: 87% !important;
  }
  #top-all-product .selling-heading {
    padding-top: 50px;
    padding-bottom: 20px;
  }

  #top-all-product .rated-product .rated-img-item h1 {
    font-size: 23px;
  }

  #top-all-product .rated-product .rated-img-item p {
    font-size: 24px;
  }

  #top-all-product .top-rated {
    height: 495px;
  }

  #top-all-product .swiper {
    height: 400px;
  }
}

@media screen and (max-width: 768px) {
  #top-all-product .rated-next {
    position: absolute;
    left: 42.5% !important;
    top: 82% !important;
  }

  #top-all-product .rated-product .rated-img-item h1 {
    font-size: 18px;
  }

  #top-all-product .rated-product .rated-img-item p {
    font-size: 20px;
  }

  #top-all-product .top-rated {
    height: 465px;
  }

  #top-all-product .swiper {
    height: 350px;
  }
}

@media screen and (max-width: 500px) {
  #top-all-product .rated-next {
    position: absolute;
    left: 37.5% !important;
    top: 79% !important;
  }

  #top-all-product .rated-product .rated-img-item h1 {
    font-size: 16px;
  }

  #top-all-product .rated-product .rated-img-item p {
    font-size: 20px;
  }

  #top-all-product .top-rated {
    height: 425px;
  }

  #top-all-product .swiper {
    height: 310px;
  }

  #top-all-product .rated-next svg {
    width: 15px;
  }
  #top-all-product .rated-product .rated-img-item svg {
    position: absolute;
    top: 20px;
    left: 43px;
    width: 40px;
  }
  #top-all-product .rated-product .rated-img-item .percent {
    position: absolute;
    top: 50px;
    left: 48px;
    width: 30px;
  }
}

@media screen and (max-width: 450px) {
  #top-all-product .rated-next {
    position: absolute;
    left: 37.5% !important;
    top: 77% !important;
  }

  #top-all-product .rated-product .rated-img-item h1 {
    font-size: 14px;
  }

  #top-all-product .rated-product .rated-img-item p {
    font-size: 18px;
  }

  #top-all-product .top-rated {
    height: 358px;
  }

  #top-all-product .swiper {
    height: 253px;
  }
}
/* Top Rated Product End */

/* Top selling Product Start */
#top-all-product {
  padding: 100px 0px 0px 0px;
}

#top-all-product .top-selling-item {
  width: 100%;
}

#top-all-product .selling-product {
  display: flex;
  justify-content: space-around;
  border: 1px solid rgba(168, 187, 199, 1);
  border-radius: 10px;
  display: flex;
}

#top-all-product .selling-heading {
  text-align: center;
  font-size: 35px;
  padding-bottom: 50px;
  font-family: var(--primary-font);
}

#top-all-product .selling-heading span {
  color: var(--item-color);
}

#top-all-product .selling-product .selling-img-item {
  padding: 30px;
  position: relative;
  text-align: center;
}

#top-all-product .selling-product .selling-img-item img {
  width: 95% !important;
  border: 1px solid rgba(168, 187, 199, 1);
  padding: 20px 10px;
  border-radius: 10px;
}

#top-all-product .selling-product .selling-img-item svg {
  position: absolute;
  top: 30px;
  right: 50px;
  width: 50px;
}
#top-all-product .selling-product .selling-img-item .percent {
  position: absolute;
  top: 60px;
  right: 55px;
  width: 30px;
  color: var(--text-color-black);
}
#top-all-product .selling-product .selling-img-item .percent p {
  font-family: var(--secondary-font);
  color: var(--text-color-white);
  font-size: 12px;
}

#top-all-product .selling-product .selling-img-item .review-star {
  padding: 20px 0;
}

#top-all-product .selling-product .selling-img-item .review-star a {
  text-decoration: none;
  color: var(--item-color);
}

#top-all-product .selling-product .selling-img-item h1 {
  font-size: 23px;
  font-family: var(--primary-font);
}

#top-all-product .selling-product .selling-img-item p {
  font-size: 28px;
  font-family: var(--primary-font);
  color: var(--item-color);
}
#top-all-product .selling-product .selling-img-item p span {
  color: rgba(168, 187, 199, 1);
  text-decoration: line-through;
  padding-right: 10px;
}

/* Top Selling Slider Start */

#top-all-product .top-selling-item {
  text-align: center;
}

#top-all-product .top-selling {
  position: relative;
  height: 480px;
}

#top-all-product .swiper {
  margin-top: 25px !important;
  width: 80%;
  height: 400px;
}

#top-all-product .selling-next {
  position: absolute;
  left: 40.5% !important;
  top: 90% !important;
  transition: all 0.5s;
}

#top-all-product .selling-next:hover svg path {
  fill: #26a0da !important;
}

#top-all-product .slider-item {
  display: flex;
  align-items: center;
  width: 100% !important;
  border-radius: 10px;
  border: var(--border-and-color) !important;
}

#top-all-product .slider-item:hover {
  box-shadow: var(--box-shadow);
}

#top-all-product .slider-item img {
  width: 100% !important;
  border-radius: 12px;
}

#top-all-product .swiper-button-next::after {
  display: none !important;
}

@media screen and (max-width: 1400px) {
  #top-all-product .selling-next {
    position: absolute;
    left: 40.5% !important;
    top: 90% !important;
  }

  #top-all-product .selling-product .selling-img-item h1 {
    font-size: 20px;
  }

  #top-all-product .selling-product .selling-img-item p {
    font-size: 25px;
  }
}

@media screen and (max-width: 1200px) {
  #top-all-product .selling-next {
    position: absolute;
    left: 38.5% !important;
    top: 92% !important;
  }

  #top-all-product .top-selling {
    height: 405px;
  }

  #top-all-product .swiper {
    height: 340px;
  }
}

@media screen and (max-width: 992px) {
  #top-all-product .selling-next {
    position: absolute;
    left: 42.5% !important;
    top: 87% !important;
  }

  #top-all-product .selling-product .selling-img-item h1 {
    font-size: 23px;
  }

  #top-all-product .selling-product .selling-img-item p {
    font-size: 24px;
  }

  #top-all-product .top-selling {
    height: 495px;
  }

  #top-all-product .swiper {
    height: 400px;
  }
}

@media screen and (max-width: 768px) {
  #top-all-product .selling-next {
    position: absolute;
    left: 42.5% !important;
    top: 82% !important;
  }

  #top-all-product .rated-heading {
    font-size: 30px !important;
  }

  #top-all-product .selling-heading {
    font-size: 30px !important;
  }

  #top-all-product .selling-product .selling-img-item h1 {
    font-size: 18px;
  }

  #top-all-product .selling-product .selling-img-item p {
    font-size: 20px;
  }

  #top-all-product .top-selling {
    height: 465px;
  }

  #top-all-product .swiper {
    height: 350px;
  }
}

@media screen and (max-width: 575px) {
  #top-all-product .rated-heading {
    font-size: 25px !important;
  }

  #top-all-product .selling-heading {
    font-size: 25px !important;
  }
}

@media screen and (max-width: 500px) {
  #top-all-product .selling-next {
    position: absolute;
    left: 40.5% !important;
    top: 79% !important;
  }

  #top-all-product .selling-product .selling-img-item h1 {
    font-size: 16px;
  }

  #top-all-product .selling-product .selling-img-item p {
    font-size: 20px;
  }

  #top-all-product .top-selling {
    height: 425px;
  }

  #top-all-product .swiper {
    height: 310px;
  }

  #top-all-product .selling-next svg {
    width: 15px;
  }

  #top-all-product .selling-product .selling-img-item svg {
    position: absolute;
    top: 20px;
    right: 43px;
    width: 40px;
  }

  #top-all-product .selling-product .selling-img-item .percent {
    position: absolute;
    top: 50px;
    right: 45px;
    width: 30px;
    color: var(--text-color-black);
  }
}

@media screen and (max-width: 450px) {
  #top-all-product .selling-next {
    position: absolute;
    left: 37.5% !important;
    top: 77% !important;
  }

  #top-all-product .selling-product .selling-img-item h1 {
    font-size: 14px;
  }

  #top-all-product .selling-product .selling-img-item p {
    font-size: 18px;
  }

  #top-all-product .top-selling {
    height: 358px;
  }

  #top-all-product .swiper {
    height: 253px !important;
  }

  #top-all-product .swiper-slide {
    height: 70px !important;
  }
}

/* Top selling Product End */


/* Get Many offers Start */

#get-offer {
  margin: 100px 0px 0px 0px;
  background: var(--background-color);
}

#get-offer .offer {
  padding-top: 50px !important;
  display: flex;
  align-items: center;
}

#get-offer .offer-img {
  margin-bottom: 50px;
  position: relative;
  display: inline-block;
  
}

#get-offer .offer-img img {
  width: 100%;
  margin: 0px 0;
}

#get-offer .offer-img a img {
  width: 30px;
  height: 30px;
}

#get-offer .offer-img .img-text h1 {
  font-family: var(--primary-font);
  white-space: nowrap;
  font-size: 28px;
}

#get-offer .offer-img .img-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

#get-offer .offer-img a {
  text-decoration: none;
  font-size: 18px;
  color: var(--text-color-white);
  font-family: var(--secondary-font);
}

.sign-up h1 {
  color: var(--text-color-black);
  font-family: var(--primary-font);
  font-size: 32px;
  margin-bottom: 0px;
}

.sign-up h2 {
  color: var(--item-color);
  font-family: var(--primary-font);
  font-size: 32px;
}

.sign-up p {
  color: var(--text-color-white);
  font-family: var(--secondary-font);
  font-size: 18px;
  margin-bottom: 30px;
}

.sign-up p span {
  font-size: 22px;
  color: var(--item-color);
}

#get-offer .sign-up form {
  display: flex;
  justify-content: space-between;
  background: white;
  border-radius: 5px;
}

#get-offer .sign-up form a {
  font-family: var(--secondary-font);
  font-size: 22px;
  text-decoration: none;
  background: var(--item-color);
  color: var(--text-color-black);
  border-radius: 5px;
  font-weight: 600;
  margin: 5px;
  padding: 5px 20px;
}

#get-offer .sign-up {
  margin-bottom: 50px;
}

#get-offer .sign-up input {
  width: 100%;
  padding-left: 25px;
  font-family: var(--secondary-font);
  font-size: 18px;
  background: none;
  border: none;
  outline: none;
}

@media screen and (max-width:992px) {
  #get-offer .offer-img {
    display: flex;
    justify-content: center;
    
  }
}

@media screen and (max-width: 575px) {
  #get-offer .offer-img .img-text h1 {
    font-size: 18px;
  }

  #get-offer .offer-img .img-text a {
    font-size: 14px;
  }

  .sign-up h1 {
    font-size: 28px;
  
  }
  
  .sign-up h2 {
   font-size: 28px;

  }

  .sign-up p{
   font-size: 16px;

  }

  #get-offer .sign-up form a {
    font-size: 18px;
    
  }

  #get-offer .sign-up input {
    font-size: 16px;
    
  }
  
}
/* Get Many offers End */

/* Preloader Start */
.js-preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.98);
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  opacity: 1;
  visibility: visible;
  z-index: 9999;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.js-preloader.loaded {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@-webkit-keyframes dot {
  50% {
    -webkit-transform: translateX(96px);
    transform: translateX(96px);
  }
}

@keyframes dot {
  50% {
    -webkit-transform: translateX(96px);
    transform: translateX(96px);
  }
}

@-webkit-keyframes dots {
  50% {
    -webkit-transform: translateX(-31px);
    transform: translateX(-31px);
  }
}

@keyframes dots {
  50% {
    -webkit-transform: translateX(-31px);
    transform: translateX(-31px);
  }
}

.preloader-inner {
  position: relative;
  width: 142px;
  height: 40px;
  background: transparent;
}

.preloader-inner .dot {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 12px;
  left: 15px;
  background: #f10f0f;
  border-radius: 50%;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-animation: dot 2.8s infinite;
  animation: dot 2.8s infinite;
}

.preloader-inner .dots {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  margin-top: 12px;
  margin-left: 31px;
  -webkit-animation: dots 2.8s infinite;
  animation: dots 2.8s infinite;
}

.preloader-inner .dots span {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-left: 16px;
  background: #7453fc;
  border-radius: 50%;
}
/* 
---------------------------------------------
Pre-loader Style
--------------------------------------------- 
*/
.js-preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.98);
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  opacity: 1;
  visibility: visible;
  z-index: 9999999;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.js-preloader.loaded {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@-webkit-keyframes dot {
  50% {
    -webkit-transform: translateX(96px);
    transform: translateX(96px);
  }
}

@keyframes dot {
  50% {
    -webkit-transform: translateX(96px);
    transform: translateX(96px);
  }
}

@-webkit-keyframes dots {
  50% {
    -webkit-transform: translateX(-31px);
    transform: translateX(-31px);
  }
}

@keyframes dots {
  50% {
    -webkit-transform: translateX(-31px);
    transform: translateX(-31px);
  }
}

.preloader-inner {
  position: relative;
  width: 142px;
  height: 40px;
  background: transparent;
}

.preloader-inner .dot {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 12px;
  left: 15px;
  background: #f10f0f;
  border-radius: 50%;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-animation: dot 2.8s infinite;
  animation: dot 2.8s infinite;
}

.preloader-inner .dots {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  margin-top: 12px;
  margin-left: 31px;
  -webkit-animation: dots 2.8s infinite;
  animation: dots 2.8s infinite;
}

.preloader-inner .dots span {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-left: 16px;
  background: #7453fc;
  border-radius: 50%;
}

/* Preloader End */
