@import url("https://fonts.googleapis.com/css2?family=K2D&display=swap");

@font-face {
  font-family: fonts;
  src: url(../fonts/fonts/ttf/OtomanopeeOne-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-font: fonts;
  --secondary-font: K2D;
  --border-and-color: 1px solid rgba(38, 160, 218, 1);
  --text-color-black: black;
  --background-color: rgba(38, 160, 218, 1);
  --text-color-white: rgba(255, 255, 255, 1);
  --text-color-blue: rgba(38, 160, 218, 1);
  --item-color: rgba(255, 184, 0, 1);
  --shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
}



/* Hero Slider Start */
.mySwiper {
  height: 790px;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-bottom: 3px solid #26a0da;
  background-image: url(../img/home-img/hero-slider/slider-bg.png) !important;
}

.hero-slider-header h1 {
  font-size: 55px;
  font-family: var(--primary-font);
}

.hero-slider-header .header {
  padding-top: 120px;
}

.hero-slider-header h1 span {
  color: var(--text-color-blue);
}

.hero-slider-item {
  justify-content: space-between;
}

.hero-slider-item p {
  margin-top: 20px;
  font-size: 18px;
  font-family: var(--secondary-font);
}

.hero-slider-item button {
  border: none;
  padding: 10px 15px;
  border-radius: 3px;
  background: var(--background-color);
  box-shadow: var(--shadow);
}

.hero-slider-item button a {
  text-decoration: none;
  color: var(--text-color-white);
}

.hero-slider-item .swiper-img img {
  max-width: 100%;
  margin-top: -150px;
}

.swiper-pagination-bullets-dynamic {
  justify-content: center !important;
  transform: translateY(-50px) translateX(-50px) !important;
}

.swiper-pagination-bullet {
  opacity: 1 !important;
  justify-content: center !important;
  padding-top: -30px !important;
  background: white !important;
  width: 18px !important;
  height: 18px !important;
  border: 2px solid #00aeff !important;
}

.swiper-pagination-bullet-active {
  justify-content: center !important;
  background: #26a0da !important;
  border-radius: 3px !important;
}

@media screen and (max-width: 1200px) {
  .hero-slider-item .swiper-img img {
    margin-top: -70px;
  }

  .hero-slider-header {
    margin-top: 80px;
  }
}

@media screen and (max-width: 992px) {
  .hero-slider-item .swiper-img img {
    width: 95%;
    margin-top: -50px;
  }

  .hero-slider-header h1 {
    font-size: 40px;
  }

  .hero-slider-header .header {
    padding-top: 50px;
  }
}

@media screen and (max-width: 600px) {
  .hero-slider-header h1 {
    width: 370px;
    font-size: 28px;
  }

  .hero-slider-item .swiper-img img {
    margin-top: 0px;
    width: 90%;
  }

  .mySwiper {
    height: 700px;
  }

  .swiper-pagination-bullets-dynamic {
    justify-content: center !important;
    transform: translateY(-20px) translateX(-50px) !important;
  }
}

/* Hero Slider End */

/* Feature Categories Start */
.slide-container {
  padding: 100px 0px 110px 0px;
  text-align: center;
  overflow: hidden;
}

.card-wrapper {
  margin-bottom: 20px !important;
}

.swiper {
  position: relative;
}

.slide-container .feature-heading {
  font-family: var(--primary-font);
  margin: auto;
  display: flex;
  justify-content: center !important;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.feature-heading .bottom-border {
  margin: 0px 80px;
  border-bottom: 3px solid #26a0da;
}

.feature-heading .bottom-border2 {
  margin: 10px 110px 0px 110px;
  border-bottom: 3px solid #26a0da;
}

.card-wrapper .card {
  transition: all 0.3s ease;
  font-family: var(--secondary-font);
  align-items: center;
  justify-content: center;
  height: auto !important;
  margin-top: 80px;
  text-align: center;
  background: #fff;
  border-radius: 8px;
  border: 1px solid #26a0da !important;
}

.card-wrapper .card:hover {
  box-shadow: var(--shadow);
}

.card-wrapper .card .image-box {
  padding: 40px;
}

.card-wrapper .card .image-box img {
  width: 150px;
}

.card-wrapper .card .card-details {
  display: flex;
  align-items: center;
  column-gap: 12px;
  padding: 15px;
}

.card-wrapper .card-details .name {
  margin-top: -30px !important;
  font-size: 15px;
  font-weight: 500;
}

.swiper-navBtn {
  position: absolute;
  top: 620px !important;
  height: 40px;
  width: 40px;
  background: #fff;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 18px;
}

.slide-container .rectangle {
  margin-top: 40px;
}

.swiper-button-next {
  right: 44% !important;
}

.swiper-button-next svg {
  width: 50px !important;
  height: 50px !important;
  right: 44% !important;
}

.swiper-button-prev {
  left: 44% !important;
}

.swiper-button-prev::after {
  display: none;
}

.swiper-button-next::after {
  display: none;
}

@media screen and (max-width: 768px) {
  .swiper-navBtn {
    display: none;
  }

  .swiper-button-next {
    right: 8% !important;
  }

  .swiper-button-prev {
    left: 8% !important;
  }
  .slide-container .rectangle {
    display: none;
  }
}

@media screen and (max-width: 600px) {
}

/* Feature Categories End */

/* Offer Sec Start */
.offer {
  padding: 0px 0px 100px 0px !important;
}

.offer .offer-item1 img {
  width: 100%;
}

.offer .offer-item1 .offer-title1 {
  padding: 50px 0px 0px 30px;
}

.offer .offer-item2 .offer-title2 {
  padding: 50px 30px 0px 0px;
}

.offer .offer-item2 .offer-title2 p {
  color: var(--text-color-blue);
  font-family: var(--secondary-font);
}

.offer .offer-item2 .offer-title2 p {
  font-family: var(--secondary-font);
}

.offer .offer-item2 .offer-title2 h2,
.offer .offer-item2 .offer-title2 h1 {
  font-family: var(--primary-font);
  font-size: 28px;
  margin: 20px 0;
}

.offer .offer-item2 .offer-title2 h6 span {
  color: var(--text-color-blue);
  font-family: var(--secondary-font);
}

.offer .offer-item2 .offer-title2 .offer-button2 {
  margin: 40px 0;
}

.offer .offer-item2 .offer-title2 a {
  text-decoration: none;
  padding: 10px 15px;
  background: var(--background-color);
  color: var(--text-color-white);
  border-radius: 3px;
  margin-top: 50px !important;
}

.offer .offer-item1 .offer-title1 p {
  color: var(--item-color);
  font-family: var(--secondary-font);
}

.offer .offer-item1 .offer-title2 p {
  font-family: var(--secondary-font);
}

.offer .offer-item1 .offer-title1 h2,
.offer .offer-item1 .offer-title1 h1 {
  color: var(--text-color-white);
  font-family: var(--primary-font);
  font-size: 28px;
  margin: 20px 0;
}

.offer .offer-item1 .offer-title1 h6 {
  color: var(--text-color-white);
}

.offer .offer-item1 .offer-title1 h6 span {
  color: var(--item-color);
  font-family: var(--secondary-font);
}

.offer .offer-item1 .offer-title1 .offer-button1 {
  margin: 40px 0;
}

.offer .offer-item1 .offer-title1 a {
  text-decoration: none;
  padding: 10px 15px;
  background: var(--item-color);
  color: var(--text-color-white);
  border-radius: 3px;
  margin-top: 50px !important;
}

.offer .offer-item2 img {
  margin-top: 20px;
  margin-right: 50px;
  width: 100%;
}

.offer .offer-item1 {
  padding: 0px 20px;
  border-radius: 3px;
  margin: 20px 0;
  background: var(--background-color);
}

.offer .offer-item2 {
  padding: 0px 20px;
  border-radius: 3px;
  margin: 20px 0;
  text-align: right;
  background-image: url(../img/home-img/hero-slider/slider-bg.png);
}

@media screen and (max-width: 1200px) {
  .offer .offer-item2 .offer-title2 h2,
  .offer .offer-item2 .offer-title2 h1 {
    font-family: var(--primary-font);
    font-size: 35px;
    margin: 0px 0;
  }

  .offer .offer-item1 .offer-title1 h2,
  .offer .offer-item1 .offer-title1 h1 {
    font-family: var(--primary-font);
    font-size: 35px;
    margin: 0px 0;
  }

  .offer .offer-item2 {
    max-width: 97.6%;
  }
}

@media screen and (max-width: 768px) {
  .offer .offer-item2 {
    max-width: 94.6%;
  }
}

@media screen and (max-width: 1200px) {
  .offer .offer-item2 {
    margin: 0px 10px;
    padding: 0px 0px;
  }
}

/* Offer Sec End */

/* All Products Sec Start */
#product-cards .card img {
  margin-top: 40px !important;
  width: 130px !important;
  aspect-ratio: 1/1;
}

#product-cards .card {
  align-items: center;
  margin-top: 80px;
  text-align: center;
  border: 1px solid #26a0da !important;
  height: 40vh !important;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#product-cards .card a {
  text-decoration: none;
}

#product-cards h1 {
  font-family: var(--primary-font);
  color: var(--text-color-black);
}

#product-cards .heading-bottom-bar {
  width: 180px;
  height: 3px;
  background: var(--background-color);
}

#product-cards .heading-bottom-bar2 {
  margin-top: 10px;
  width: 140px;
  height: 3px;
  background: var(--background-color);
}

#product-cards h3 {
  padding: 10px;
  font-family: var(--primary-font);
  letter-spacing: 3px;
  font-size: 18px;
  color: #1c1c50;
  text-shadow: 0px 1px 1px black;
}

#product-cards h5 {
  font-family: var(--primary-font);
  font-size: 25px;
  color: #ffb800;
  cursor: pointer;
}

.checked {
  color: rgb(255, 187, 0);
}

#product-cards .button {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 1px;
  margin: 50px 0;
  background: var(--background-color);
}

.viewmorebtn {
  position: absolute;
  text-align: center;
  align-items: center;
  padding: 10px 0;
  top: -25px;
  font-family: var(--secondary-font);
  justify-content: center;
  margin: auto;
  text-decoration: none;
  width: 150px;
  border-radius: 3px;
  color: var(--text-color-blue);
  letter-spacing: 5px;
  font-weight: bold;
  background: var(--text-color-white);
  border: 2px solid var(--text-color-blue);
  transition: 0.5s ease;
}

.viewmorebtn:hover {
  background-color: #26a0da;
  color: white;
}

@media screen and (max-width: 600px) {
  #product-cards h1 {
    padding-left: 10px;
  }

  #product-cards .heading-bottom-bar {
    margin-left: 10px;
  }

  #product-cards .heading-bottom-bar2 {
    margin-left: 10px;
  }

  #product-cards .card {
    margin: 40px 10px 0px 10px;
  }
}

/* All Products Sec End */

/* Get Many offers Start */
#get-offer {
  margin: 100px 0px 0px 0px;
  background: var(--background-color);
}
#get-offer .offer {
  padding-top: 100px !important;
  align-items: center;
}

#get-offer .offer-img {
  margin-bottom: 50px;
  position: relative;
  display: inline-block;
}
#get-offer .offer-img img {
  width: 100%;
  margin: 0px 0;
}
#get-offer .offer-img a img {
  width: 30px;
  height: 30px;
}
#get-offer .offer-img .img-text h1 {
  font-family: var(--primary-font);
  white-space: nowrap;
  font-size: 28px;
}
#get-offer .offer-img .img-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
#get-offer .offer-img a {
  text-decoration: none;
  font-size: 18px;
  color: var(--text-color-white);
  font-family: var(--secondary-font);
}
.sign-up h1 {
  color: var(--text-color-black);
  font-family: var(--primary-font);
}
.sign-up h2 {
  color: var(--item-color);
  font-family: var(--primary-font);
}
.sign-up p {
  color: var(--text-color-white);
  font-family: var(--primary-font);
  font-size: 18px;
}
.sign-up p span {
  font-size: 28px;
  color: var(--item-color);
}
#get-offer .sign-up form {
  display: flex;
  justify-content: space-between;
  background: white;
  border-radius: 5px;
}
#get-offer .sign-up form a {
  font-family: var(--secondary-font);
  padding: 10px;
  font-size: 22px;
  text-decoration: none;
  background: var(--item-color);
  color: var(--text-color-white);
  border-radius: 5px;
  margin: 10px;
}
#get-offer .sign-up {
  margin-bottom: 50px;
}
#get-offer .sign-up input {
  width: 100%;
  padding: 15px;
  font-family: var(--secondary-font);
  font-size: 22px;
  background: none;
  border: none;
  outline: none;
}
/* Get Many offers End */




